notes/v7_workflow.json
{
  "name": "Tripletex Agent v7 — Multi-Path",
  "nodes": [
    {
      "id": "n1",
      "name": "Receive Task",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        200,
        500
      ],
      "parameters": {
        "path": "tripletex-solve-v7",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "n2",
      "name": "Parse Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        500
      ],
      "parameters": {
        "jsCode": "// Parse Input — extract task, credentials, files, create binary for PDF\nconst items = $input.all();\nconst body = items[0].json.body || items[0].json;\nconst task = body.prompt || body.task || '';\nconst base_url = (body.tripletex_credentials || {}).base_url || body.base_url || '';\nconst session_token = (body.tripletex_credentials || {}).session_token || body.session_token || '';\nconst files = body.files || body.attached_files || [];\n\nif (!task || !base_url || !session_token) return [{ json: { status: 'completed' } }];\n\nlet fileContext = '';\nconst pdfFiles = [];\nif (files.length > 0) {\n  fileContext = '\\nAttached files:\\n';\n  for (const f of files) {\n    fileContext += '- ' + (f.filename || 'file') + ' (' + (f.mime_type || '?') + ')\\n';\n    if (f.mime_type === 'application/pdf') {\n      pdfFiles.push(f);\n      fileContext += '[PDF]\\n';\n    } else if (f.content_base64 && f.mime_type && (f.mime_type.includes('text') || f.mime_type.includes('csv'))) {\n      try { fileContext += 'Content: ' + Buffer.from(f.content_base64, 'base64').toString('utf-8').substring(0, 5000) + '\\n'; } catch(e) {}\n    }\n  }\n}\n\n// Create binary for PDF extraction if needed\nconst out = [];\nif (pdfFiles.length > 0 && pdfFiles[0].content_base64) {\n  const buf = Buffer.from(pdfFiles[0].content_base64, 'base64');\n  out.push({\n    json: { task, base_url, session_token, files, fileContext, pdfFiles, hasPdf: true },\n    binary: { data: await this.helpers.prepareBinaryData(buf, pdfFiles[0].filename || 'doc.pdf', 'application/pdf') }\n  });\n} else {\n  out.push({ json: { task, base_url, session_token, files, fileContext, pdfFiles: [], hasPdf: false } });\n}\nreturn out;\n",
        "mode": "runOnceForAllItems"
      }
    },
    {
      "id": "n3",
      "name": "Has PDF?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        640,
        500
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          },
          "conditions": [
            {
              "id": "pdf_check",
              "leftValue": "={{ $json.hasPdf }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "n4",
      "name": "Extract PDF",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        860,
        340
      ],
      "parameters": {
        "operation": "pdf",
        "options": {
          "joinPages": true
        }
      }
    },
    {
      "id": "n5",
      "name": "Merge Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1080,
        340
      ],
      "parameters": {
        "jsCode": "// Merge Text — combine original body with extracted PDF text\nconst items = $input.all();\nconst original = $('Parse Input').first().json;\nconst extractedText = items[0].json.data || items[0].json.text || '';\n\nlet fileContext = original.fileContext || '';\nlet pdfFiles = original.pdfFiles || [];\n\nif (extractedText) {\n  fileContext += '\\nExtracted document text:\\n' + extractedText.substring(0, 12000) + '\\n';\n  pdfFiles = []; // don't send via Gemini vision if already extracted\n}\n\nreturn [{\n  json: {\n    task: original.task,\n    base_url: original.base_url,\n    session_token: original.session_token,\n    files: original.files,\n    fileContext,\n    pdfFiles,\n    hasPdf: original.hasPdf\n  }\n}];\n",
        "mode": "runOnceForAllItems"
      }
    },
    {
      "id": "n6",
      "name": "Merge Paths",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1300,
        500
      ],
      "parameters": {
        "mode": "chooseBranch",
        "output": "empty"
      }
    },
    {
      "id": "n7",
      "name": "Classify",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1520,
        500
      ],
      "parameters": {
        "jsCode": "// Classify — Gemini classification + keyword fallback + routing\nconst items = $input.all();\nconst d = items[0].json;\nconst task = d.task || '';\nconst fileContext = d.fileContext || '';\nconst pdfFiles = d.pdfFiles || [];\nconst GEMINI_KEY = 'AIzaSyC_ya1fW-hpajZyb8osz35Y4znS9cx_h4g';\n\nasync function callGemini(prompt, pdfs) {\n  try {\n    const parts = [{ text: prompt }];\n    if (pdfs && pdfs.length > 0) {\n      for (const f of pdfs) {\n        if (f.content_base64) parts.push({ inline_data: { mime_type: 'application/pdf', data: f.content_base64 } });\n      }\n    }\n    const r = await this.helpers.httpRequest({\n      method: 'POST',\n      url: 'https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key=' + GEMINI_KEY,\n      body: {\n        contents: [{ parts }],\n        generationConfig: { temperature: 0, topK: 1, topP: 0.1, maxOutputTokens: 4096, responseMimeType: 'application/json' },\n        safetySettings: [\n          { category: 'HARM_CATEGORY_HARASSMENT', threshold: 'BLOCK_NONE' },\n          { category: 'HARM_CATEGORY_HATE_SPEECH', threshold: 'BLOCK_NONE' },\n          { category: 'HARM_CATEGORY_SEXUALLY_EXPLICIT', threshold: 'BLOCK_NONE' },\n          { category: 'HARM_CATEGORY_DANGEROUS_CONTENT', threshold: 'BLOCK_NONE' }\n        ]\n      },\n      headers: { 'Content-Type': 'application/json' }, json: true\n    });\n    const raw = r.candidates[0].content.parts.find(p => p.text)?.text || '{}';\n    try { return JSON.parse(raw); } catch(e) {\n      const m = raw.match(/```(?:json)?\\s*([\\s\\S]*?)```/);\n      if (m) try { return JSON.parse(m[1].trim()); } catch(_) {}\n      const idx = raw.search(/[{[]/);\n      if (idx >= 0) try { return JSON.parse(raw.substring(idx)); } catch(_) {}\n      return {};\n    }\n  } catch(e) { return {}; }\n}\n\n// === CLASSIFY PROMPT ===\nconst classifyPrompt = `You are a Tripletex accounting API expert. Analyze this task and return a structured plan.\n\nRULES:\n- Task may be in Norwegian, English, Spanish, Portuguese, German, French, Italian.\n- Norwegian: ansatt=employee, kunde=customer, leverandør=supplier, produkt=product, faktura=invoice, betaling=payment, reiseregning=travel_expense, avdeling=department, prosjekt=project, kreditnota=credit_note, bilag/voucher=voucher, slett=delete, oppdater/endre=update\n- \"slett reiseregning\"/\"delete travel expense\" → delete_travel_expense\n- CLASSIFICATION PRIORITY: If task mentions reversing/cancelling a PAYMENT → reverse_payment. credit_note = create new credit invoice.\n- \"leverandør/supplier\" → create_supplier. \"kunde/customer\" → create_customer\n- Extract ALL parameters. Dates: YYYY-MM-DD. If only day/month, assume 2026.\n- For employees: firstName, lastName, email, phoneNumberMobile, dateOfBirth, startDate, department, nationalIdentityNumber (11-digit), occupationCode (STYRK 4-digit), salary (annual), employmentPercentage (0-100), employmentType (FAST/MIDLERTIDIG)\n- PDF EMPLOYEE EXTRACTION CHECKLIST — extract ALL of these from document text if present:\n  * firstName, lastName, email, phoneNumberMobile, dateOfBirth (YYYY-MM-DD)\n  * nationalIdentityNumber — 11-digit fødselsnummer\n  * startDate, department, salary (annual number), employmentPercentage (0-100)\n  * occupationCode (4-digit STYRK), employmentType (FAST=permanent, MIDLERTIDIG=temporary)\n- For customers: name, email, phoneNumber, organizationNumber, address, postalCode, city, isPrivateIndividual\n- For suppliers: name, email, phoneNumber, organizationNumber, address, postalCode, city\n- For products: name, number, priceExcludingVat, vatPercentage (default 25)\n- For invoices: customerName, customerOrgNumber, invoiceDate, dueDate, lines[{description, quantity, unitPrice, vatPercentage}], shouldSend\n- For payments: invoiceNumber, amount, paymentDate, customerName, customerOrgNumber, productDescription, productPrice, products[{name, number, unitPrice}], currency, exchangeRateInvoice, exchangeRatePayment\n- For projects: name, customerName, customerOrgNumber, projectManagerFirstName, projectManagerLastName, startDate, endDate, isInternal\n- For project_invoice: customerName, customerOrgNumber, projectName, employeeFirstName, employeeLastName, employeeEmail, activityName, hours, hourlyRate, fixedPrice, description\n- For payroll_voucher: employeeFirstName, employeeLastName, employeeEmail, salaryItems[{description, amount, accountNumber}]\n- For supplier_invoice: supplierName, supplierOrgNumber, invoiceNumber, amountIncludingVat, accountNumber, description\n- For travel expenses: employeeName, employeeEmail, title, departureDate, returnDate, destination, costs[{description, amount}], perDiem:{days, accommodation, location, dailyRate}\n- For credit notes: invoiceNumber, customerName, customerOrgNumber, productDescription, amount\n- For vouchers: date, description, postings[{accountNumber, amount, isDebit, description}]\n- For dimension_voucher: dimensionName, dimensionValues, linkedValue, voucherAccountNumber, voucherAmount, voucherDescription\n- CRITICAL: If \"Extracted document text:\" section is present, extract ALL field values from it.\n- For MULTIPLE entities: return \"entities\" array with one object per entity.\n\nTask: ${task}${fileContext}\n\nReturn: {\"task_type\": \"create_employee|create_customer|create_supplier|create_product|create_invoice|register_payment|reverse_payment|project_invoice|payroll_voucher|supplier_invoice|dimension_voucher|create_travel_expense|delete_travel_expense|update_employee|update_customer|delete_employee|delete_customer|credit_note|create_department|create_project|create_voucher|ledger_analysis|monthly_closing|bank_reconciliation|reminder_fee|unknown\", \"confidence\": 0.0, \"extracted_params\": {}, \"entities\": null, \"reasoning\": \"\"}`;\n\nconst plan = await callGemini(classifyPrompt, pdfFiles);\n\n// SAFEGUARD: keyword fallback if Gemini fails\nif (!plan.task_type || plan.task_type === 'unknown' || plan.task_type === 'null') {\n  const t = task.toLowerCase();\n  if ((t.includes('stornieren') || t.includes('reverse') || t.includes('cancel') || t.includes('stornere')) && (t.includes('payment') || t.includes('zahlung') || t.includes('betaling'))) plan.task_type = 'reverse_payment';\n  else if (t.includes('order') && t.includes('invoice') && t.includes('payment')) plan.task_type = 'register_payment';\n  else if ((t.includes('supplier') || t.includes('leverandør') || t.includes('fournisseur') || t.includes('lieferant')) && (t.includes('invoice') || t.includes('faktura') || t.includes('rechnung'))) plan.task_type = 'supplier_invoice';\n  else if (t.includes('payroll') || t.includes('salary') || t.includes('lønn') || t.includes('gehalt') || t.includes('salaire')) plan.task_type = 'payroll_voucher';\n  else if (t.includes('order') && t.includes('invoice')) plan.task_type = 'create_invoice';\n  else if ((t.includes('project') || t.includes('projekt') || t.includes('prosjekt')) && (t.includes('invoice') || t.includes('hours') || t.includes('stunden') || t.includes('faktura') || t.includes('rechnung') || t.includes('cycle') || t.includes('zyklus'))) plan.task_type = 'project_invoice';\n  else if ((t.includes('dimension') || t.includes('kostsenter') || t.includes('kostenstelle')) && (t.includes('voucher') || t.includes('bilag') || t.includes('journal'))) plan.task_type = 'dimension_voucher';\n  else if (t.includes('analyze') || t.includes('analyse') || t.includes('analice') || t.includes('analysiere')) plan.task_type = 'ledger_analysis';\n  else if (t.includes('reconcil') || t.includes('concilia') || t.includes('avstem') || t.includes('kontoauszug') || t.includes('abgleich') || t.includes('rapprochez') || t.includes('kontoutskrift') || t.includes('bankutskrift')) plan.task_type = 'bank_reconciliation';\n  else if (t.includes('closing') || t.includes('encerramento') || t.includes('avslutning') || t.includes('abschluss') || t.includes('clôture')) plan.task_type = 'monthly_closing';\n  else if (t.includes('reminder') || t.includes('purring') || t.includes('overdue') || t.includes('mahnung') || t.includes('rappel')) plan.task_type = 'reminder_fee';\n  else if (t.includes('employee') || t.includes('ansatt') || t.includes('tilsette') || t.includes('employé') || t.includes('mitarbeiter')) plan.task_type = 'create_employee';\n  else if (t.includes('customer') || t.includes('kunde') || t.includes('client')) plan.task_type = 'create_customer';\n  else if (t.includes('supplier') || t.includes('leverandør') || t.includes('lieferant')) plan.task_type = 'create_supplier';\n  else if (t.includes('product') || t.includes('produkt')) plan.task_type = 'create_product';\n  else if (t.includes('department') || t.includes('avdeling') || t.includes('abteilung')) plan.task_type = 'create_department';\n  else if (t.includes('invoice') || t.includes('faktura') || t.includes('rechnung')) plan.task_type = 'create_invoice';\n  else if (t.includes('voucher') || t.includes('bilag') || t.includes('journal')) plan.task_type = 'create_voucher';\n  else if (t.includes('travel') || t.includes('reise') || t.includes('viaje') || t.includes('voyage')) plan.task_type = 'create_travel_expense';\n  else if (t.includes('project') || t.includes('prosjekt') || t.includes('projekt')) plan.task_type = 'create_project';\n  else if (t.includes('delete') || t.includes('slett') || t.includes('löschen') || t.includes('supprimer')) {\n    if (t.includes('employee') || t.includes('ansatt')) plan.task_type = 'delete_employee';\n    else if (t.includes('customer') || t.includes('kunde')) plan.task_type = 'delete_customer';\n    else plan.task_type = 'delete_employee';\n  }\n  else if (t.includes('update') || t.includes('oppdater') || t.includes('endre') || t.includes('ändern') || t.includes('modifier')) {\n    if (t.includes('employee') || t.includes('ansatt')) plan.task_type = 'update_employee';\n    else plan.task_type = 'update_customer';\n  }\n}\n\n// OVERRIDES\nconst t = task.toLowerCase();\n// fixed price → project_invoice\nif (plan.task_type === 'create_invoice' && (t.includes('fixed price') || t.includes('festpreis') || t.includes('fastpris'))) plan.task_type = 'project_invoice';\n// analyze/reconcile → NOT create_project\nif (plan.task_type === 'create_project' && (t.includes('analyze') || t.includes('analyse') || t.includes('reconcil') || t.includes('closing'))) plan.task_type = 'ledger_analysis';\n// project cycle → project_invoice\nif (t.includes('projektzyklus') || t.includes('project cycle') || t.includes('prosjektsyklus') || t.includes('ciclo del proyecto')) plan.task_type = 'project_invoice';\n// CSV bank statement → bank_reconciliation\nif ((t.includes('kontoauszug') || t.includes('bank statement') || t.includes('kontoutskrift') || t.includes('bankutskrift')) && (t.includes('csv') || t.includes('abgleich') || t.includes('reconcil') || t.includes('avstem') || t.includes('rapproch'))) plan.task_type = 'bank_reconciliation';\n\n// MAP TO ROUTING GROUP\nconst ROUTING = {\n  'create_customer': 1, 'create_supplier': 1, 'create_product': 1, 'create_department': 1,\n  'delete_employee': 1, 'delete_customer': 1, 'delete_product': 1, 'delete_travel_expense': 1,\n  'update_employee': 1, 'update_customer': 1,\n  'create_employee': 2,\n  'create_invoice': 3, 'credit_note': 3, 'register_payment': 3, 'reverse_payment': 3,\n  'project_invoice': 4, 'create_project': 4,\n  'create_travel_expense': 5, 'payroll_voucher': 5,\n  'create_voucher': 6, 'supplier_invoice': 6, 'dimension_voucher': 6,\n  'ledger_analysis': 6, 'monthly_closing': 6, 'bank_reconciliation': 6, 'reminder_fee': 6\n};\nconst routing_group = ROUTING[plan.task_type] || 7;\n\nreturn [{\n  json: {\n    ...d,\n    task_type: plan.task_type,\n    extracted_params: plan.extracted_params || {},\n    entities: plan.entities || null,\n    routing_group,\n    confidence: plan.confidence,\n    reasoning: plan.reasoning\n  }\n}];\n",
        "mode": "runOnceForAllItems"
      }
    },
    {
      "id": "n8",
      "name": "Route",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1740,
        500
      ],
      "parameters": {
        "rules": {
          "values": [
            {
              "outputKey": "T1_Simple",
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.routing_group }}",
                    "rightValue": 1,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "outputKey": "T2_Employee",
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.routing_group }}",
                    "rightValue": 2,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "outputKey": "T3_Invoice",
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.routing_group }}",
                    "rightValue": 3,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "outputKey": "T4_Project",
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.routing_group }}",
                    "rightValue": 4,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "outputKey": "T5_Expense",
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.routing_group }}",
                    "rightValue": 5,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "outputKey": "T6_Accounting",
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.routing_group }}",
                    "rightValue": 6,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      }
    },
    {
      "id": "h1",
      "name": "T1_Simple Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1980,
        100
      ],
      "parameters": {
        "jsCode": "// === SHARED UTILITIES (included at top of every handler node) ===\nconst items = $input.all();\nconst d = items[0].json;\nconst task = d.task || '';\nconst base_url = d.base_url || '';\nconst session_token = d.session_token || '';\nconst task_type = d.task_type || '';\nconst fileContext = d.fileContext || '';\nconst pdfFiles = d.pdfFiles || [];\n\nconst authHeader = 'Basic ' + Buffer.from('0:' + session_token).toString('base64');\nconst apiBase = base_url.replace(/\\/+$/, '');\nconst GEMINI_KEY = 'AIzaSyC_ya1fW-hpajZyb8osz35Y4znS9cx_h4g';\n\n// Multi-entity support\nconst entities = d.entities || null;\nconst paramsList = entities && entities.length > 0\n  ? entities.map(e => ({ ...(d.extracted_params || {}), ...e }))\n  : [d.extracted_params || {}];\n\n// === HTTP helper ===\nconst FIELD_FIXES = { 'unitPrice': 'unitPriceExcludingVatCurrency', 'unitCostCurrency': 'unitPriceExcludingVatCurrency', 'price': 'priceExcludingVatCurrency' };\nfunction sanitizeBody(endpoint, body) {\n  if (!body || typeof body !== 'object') return body;\n  const b = JSON.parse(JSON.stringify(body));\n  if (b.orderLines) { b.orderLines = b.orderLines.map(ol => { for (const [k, v] of Object.entries(FIELD_FIXES)) { if (ol[k] && !ol[v]) { ol[v] = ol[k]; delete ol[k]; } } return ol; }); }\n  if (endpoint && endpoint.includes('/invoice') && !b.invoiceDate) { b.invoiceDate = new Date().toISOString().split('T')[0]; if (!b.invoiceDueDate) b.invoiceDueDate = b.invoiceDate; }\n  if (b.postings) { b.postings = b.postings.map((p, i) => { p.row = p.row || i + 1; if (!p.date) p.date = b.date || new Date().toISOString().split('T')[0]; if (p.amountGrossCurrency === undefined) p.amountGrossCurrency = p.amountGross; return p; }); }\n  return b;\n}\n\nasync function tx(method, endpoint, reqBody) {\n  const url = apiBase + endpoint;\n  const sanitized = (method !== 'GET') ? sanitizeBody(endpoint, reqBody) : reqBody;\n  const opts = { method, url, headers: { 'Authorization': authHeader, 'Content-Type': 'application/json' }, returnFullResponse: true, ignoreHttpStatusErrors: true, json: true };\n  if (sanitized && method !== 'GET') opts.body = typeof sanitized === 'string' ? JSON.parse(sanitized) : sanitized;\n  try {\n    const r = await this.helpers.httpRequest(opts);\n    return { ok: r.statusCode >= 200 && r.statusCode < 300, status: r.statusCode, data: r.body };\n  } catch (e) {\n    let ed; try { ed = typeof e.body === 'string' ? JSON.parse(e.body) : (e.body || e.message); } catch (_) { ed = e.message; }\n    return { ok: false, error: ed, status: e.statusCode || 0, data: ed };\n  }\n}\n\nasync function callGemini(prompt, pdfs) {\n  try {\n    const parts = [{ text: prompt }];\n    if (pdfs && pdfs.length > 0) { for (const f of pdfs) { if (f.content_base64) parts.push({ inline_data: { mime_type: 'application/pdf', data: f.content_base64 } }); } }\n    const r = await this.helpers.httpRequest({\n      method: 'POST', url: 'https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key=' + GEMINI_KEY,\n      body: { contents: [{ parts }], generationConfig: { temperature: 0, topK: 1, topP: 0.1, maxOutputTokens: 4096, responseMimeType: 'application/json' }, safetySettings: [{ category: 'HARM_CATEGORY_HARASSMENT', threshold: 'BLOCK_NONE' }, { category: 'HARM_CATEGORY_HATE_SPEECH', threshold: 'BLOCK_NONE' }, { category: 'HARM_CATEGORY_SEXUALLY_EXPLICIT', threshold: 'BLOCK_NONE' }, { category: 'HARM_CATEGORY_DANGEROUS_CONTENT', threshold: 'BLOCK_NONE' }] },\n      headers: { 'Content-Type': 'application/json' }, json: true\n    });\n    const raw = r.candidates[0].content.parts.find(p => p.text)?.text || '{}';\n    try { return JSON.parse(raw); } catch(e) {\n      const m = raw.match(/```(?:json)?\\s*([\\s\\S]*?)```/); if (m) try { return JSON.parse(m[1].trim()); } catch(_) {}\n      const idx = raw.search(/[{[]/); if (idx >= 0) try { return JSON.parse(raw.substring(idx)); } catch(_) {}\n      return {};\n    }\n  } catch(e) { return {}; }\n}\n\n// Cache\nlet _departments = null, _employees = null;\nasync function getDepartments() { if (!_departments) { const r = await tx('GET', '/department?from=0&count=100'); _departments = (r.ok && r.data && r.data.values) ? r.data.values : []; } return _departments; }\nasync function getEmployees() { if (!_employees) { const r = await tx('GET', '/employee?from=0&count=100&fields=id,firstName,lastName,email,department'); _employees = (r.ok && r.data && r.data.values) ? r.data.values : []; } return _employees; }\nasync function getDefaultDeptId() { const d = await getDepartments(); return d.length > 0 ? d[0].id : null; }\nasync function getFirstEmployeeId() { const e = await getEmployees(); return e.length > 0 ? e[0].id : null; }\nasync function findEmployee(firstName, lastName) { const emps = await getEmployees(); return emps.find(e => (!firstName || (e.firstName||'').toLowerCase() === firstName.toLowerCase()) && (!lastName || (e.lastName||'').toLowerCase() === lastName.toLowerCase())) || null; }\nasync function findDeptByName(name) { if (!name) return null; const depts = await getDepartments(); return depts.find(d => d.name && d.name.toLowerCase().includes(name.toLowerCase())) || null; }\n\nlet _bankSetupDone = false;\nasync function ensureBankAccount() {\n  if (_bankSetupDone) return; _bankSetupDone = true;\n  try { const ba = await tx('GET', '/ledger/account?number=1920&from=0&count=1&fields=id,bankAccountNumber'); if (ba.ok && ba.data && ba.data.values && ba.data.values.length > 0) { const a = ba.data.values[0]; if (!a.bankAccountNumber) { const f = await tx('GET', '/ledger/account/' + a.id); if (f.ok) { f.data.value.bankAccountNumber = '86010517941'; await tx('PUT', '/ledger/account/' + a.id, f.data.value); } } } } catch(e) {}\n}\n\nfunction getOutgoingVatId(pct) { const t = pct != null ? Number(pct) : 25; return { 25: 3, 15: 31, 12: 32, 0: 6 }[t] || 3; }\n\nlet results = [], success = false;\n// === END SHARED UTILITIES ===\n\n\n// === T1_Simple HANDLER ===\nfor (const p of paramsList) {\ntry {\n  switch (task_type) {\n    case 'create_customer': {\n      const b = { name: p.name || '', isCustomer: true };\n      if (p.email) { b.email = p.email; b.invoiceEmail = p.email; }\n      if (p.phoneNumber) b.phoneNumber = String(p.phoneNumber);\n      if (p.organizationNumber) b.organizationNumber = String(p.organizationNumber);\n      if (p.isSupplier) b.isSupplier = true;\n      if (p.isPrivateIndividual) b.isPrivateIndividual = true;\n      if (p.postalCode || p.city || p.address) {\n        b.postalAddress = {};\n        if (p.address) b.postalAddress.addressLine1 = p.address;\n        if (p.postalCode) b.postalAddress.postalCode = String(p.postalCode);\n        if (p.city) b.postalAddress.city = p.city;\n        b.postalAddress.country = { id: 161 };\n      }\n      const r = await tx('POST', '/customer', b);\n      results.push(r); success = r.ok;\n      break;\n    }\n\n    case 'create_supplier': {\n      const b = { name: p.name || '', isSupplier: true };\n      if (p.email) { b.email = p.email; b.invoiceEmail = p.email; }\n      if (p.phoneNumber) b.phoneNumber = String(p.phoneNumber);\n      if (p.organizationNumber) b.organizationNumber = String(p.organizationNumber);\n      if (p.postalCode || p.city || p.address) {\n        b.postalAddress = {};\n        if (p.address) b.postalAddress.addressLine1 = p.address;\n        if (p.postalCode) b.postalAddress.postalCode = String(p.postalCode);\n        if (p.city) b.postalAddress.city = p.city;\n        b.postalAddress.country = { id: 161 };\n      }\n      const r = await tx('POST', '/supplier', b);\n      results.push(r); success = r.ok;\n      break;\n    }\n\n    case 'create_product': {\n      const vtId = getOutgoingVatId(p.vatPercentage);\n      const b = { name: p.name || '' };\n      if (p.priceExcludingVat != null || p.priceExcludingVatCurrency != null || p.unitPrice != null) {\n        b.priceExcludingVatCurrency = Number(p.priceExcludingVat || p.priceExcludingVatCurrency || p.unitPrice);\n      }\n      if (p.number) b.number = String(p.number);\n      b.vatType = { id: vtId };\n      const r = await tx('POST', '/product', b);\n      if (r.ok) { results.push(r); success = true; }\n      else {\n        // Retry without vatType (some envs reject it)\n        delete b.vatType;\n        const r2 = await tx('POST', '/product', b);\n        results.push(r2); success = r2.ok;\n      }\n      break;\n    }\n\n    case 'create_department': {\n      const b = { name: p.name || '' };\n      if (p.departmentNumber) b.departmentNumber = String(p.departmentNumber);\n      const r = await tx('POST', '/department', b);\n      results.push(r); success = r.ok;\n      break;\n    }\n\n    case 'delete_employee': case 'delete_customer': case 'delete_product': {\n      const entityType = plan.task_type.replace('delete_', '');\n      let entityId = p.id;\n      const dsf = p.search_fields || {};\n      const dFirst = p.firstName || dsf.firstName;\n      const dLast = p.lastName || dsf.lastName;\n      if (!entityId && entityType === 'employee') {\n        const emp = await findEmployee(dFirst, dLast);\n        if (emp) entityId = emp.id;\n        if (!entityId) {\n          const s = await tx('GET', '/employee?from=0&count=50' + (dFirst ? '&firstName=' + encodeURIComponent(dFirst) : '') + (dLast ? '&lastName=' + encodeURIComponent(dLast) : ''));\n          if (s.ok && s.data && s.data.values && s.data.values.length > 0) {\n            const match = s.data.values.find(e => (!dFirst || (e.firstName || '').toLowerCase() === dFirst.toLowerCase()) && (!dLast || (e.lastName || '').toLowerCase() === dLast.toLowerCase())) || s.data.values[0];\n            entityId = match.id;\n          }\n        }\n      } else if (!entityId) {\n        const ep = entityType === 'customer' ? '/customer?name=' + encodeURIComponent(p.name || '') + '&from=0&count=50' : '/product?name=' + encodeURIComponent(p.name || '') + '&from=0&count=50';\n        const s = await tx('GET', ep);\n        if (s.ok && s.data && s.data.values && s.data.values.length > 0) {\n          const match = s.data.values.find(e => p.name && (e.name || '').toLowerCase().includes(p.name.toLowerCase())) || s.data.values[0];\n          entityId = match.id;\n        }\n      }\n      if (entityId) {\n        const r = await tx('DELETE', '/' + entityType + '/' + entityId);\n        results.push(r); success = r.ok;\n        if (!r.ok && r.status === 403 && entityType === 'employee') {\n          const full = await tx('GET', '/employee/' + entityId + '?fields=*,employments(*)');\n          if (full.ok) {\n            const upd = full.data.value;\n            if (!upd.dateOfBirth) upd.dateOfBirth = '1990-01-01';\n            upd.firstName = 'DELETED'; upd.lastName = 'DELETED'; upd.phoneNumberMobile = ''; upd.comments = 'Deleted by automation';\n            const r2 = await tx('PUT', '/employee/' + entityId, upd);\n            results.push({ step: 'soft_delete', ...r2 }); if (r2.ok) success = true;\n          }\n        }\n      } else results.push({ error: entityType + ' not found' });\n      break;\n    }\n\n    case 'delete_employee': case 'delete_customer': case 'delete_product': {\n      const entityType = plan.task_type.replace('delete_', '');\n      let entityId = p.id;\n      const dsf = p.search_fields || {};\n      const dFirst = p.firstName || dsf.firstName;\n      const dLast = p.lastName || dsf.lastName;\n      if (!entityId && entityType === 'employee') {\n        const emp = await findEmployee(dFirst, dLast);\n        if (emp) entityId = emp.id;\n        if (!entityId) {\n          const s = await tx('GET', '/employee?from=0&count=50' + (dFirst ? '&firstName=' + encodeURIComponent(dFirst) : '') + (dLast ? '&lastName=' + encodeURIComponent(dLast) : ''));\n          if (s.ok && s.data && s.data.values && s.data.values.length > 0) {\n            const match = s.data.values.find(e => (!dFirst || (e.firstName || '').toLowerCase() === dFirst.toLowerCase()) && (!dLast || (e.lastName || '').toLowerCase() === dLast.toLowerCase())) || s.data.values[0];\n            entityId = match.id;\n          }\n        }\n      } else if (!entityId) {\n        const ep = entityType === 'customer' ? '/customer?name=' + encodeURIComponent(p.name || '') + '&from=0&count=50' : '/product?name=' + encodeURIComponent(p.name || '') + '&from=0&count=50';\n        const s = await tx('GET', ep);\n        if (s.ok && s.data && s.data.values && s.data.values.length > 0) {\n          const match = s.data.values.find(e => p.name && (e.name || '').toLowerCase().includes(p.name.toLowerCase())) || s.data.values[0];\n          entityId = match.id;\n        }\n      }\n      if (entityId) {\n        const r = await tx('DELETE', '/' + entityType + '/' + entityId);\n        results.push(r); success = r.ok;\n        if (!r.ok && r.status === 403 && entityType === 'employee') {\n          const full = await tx('GET', '/employee/' + entityId + '?fields=*,employments(*)');\n          if (full.ok) {\n            const upd = full.data.value;\n            if (!upd.dateOfBirth) upd.dateOfBirth = '1990-01-01';\n            upd.firstName = 'DELETED'; upd.lastName = 'DELETED'; upd.phoneNumberMobile = ''; upd.comments = 'Deleted by automation';\n            const r2 = await tx('PUT', '/employee/' + entityId, upd);\n            results.push({ step: 'soft_delete', ...r2 }); if (r2.ok) success = true;\n          }\n        }\n      } else results.push({ error: entityType + ' not found' });\n      break;\n    }\n\n    case 'delete_travel_expense': {\n      // Find travel expense by employee name or get all, then delete\n      let teId = p.id || p.travelExpenseId;\n      if (!teId) {\n        let q = '/travelExpense?from=0&count=50';\n        if (p.employeeName) {\n          // Find employee first, then their travel expenses\n          const parts = p.employeeName.split(' ');\n          const emp = await findEmployee(parts[0], parts.length > 1 ? parts.slice(1).join(' ') : null);\n          if (emp) q += '&employeeId=' + emp.id;\n        }\n        const tes = await tx('GET', q);\n        if (tes.ok && tes.data && tes.data.values && tes.data.values.length > 0) {\n          // Match by title/description if provided\n          if (p.title || p.description) {\n            const search = (p.title || p.description).toLowerCase();\n            const match = tes.data.values.find(te => (te.title || '').toLowerCase().includes(search));\n            teId = match ? match.id : tes.data.values[0].id;\n          } else {\n            teId = tes.data.values[tes.data.values.length - 1].id; // delete most recent\n          }\n        }\n      }\n      if (teId) {\n        const r = await tx('DELETE', '/travelExpense/' + teId);\n        results.push(r); success = r.ok;\n      } else results.push({ error: 'Travel expense not found' });\n      break;\n    }\n\n    case 'update_employee': {\n      // Extract name from multiple possible fields (Gemini may nest under search_fields)\n      const sf = p.search_fields || {};\n      let searchFirst = p.firstName || sf.firstName;\n      let searchLast = p.lastName || sf.lastName;\n      if (!searchFirst && p.employeeName) {\n        const parts = p.employeeName.split(' ');\n        searchFirst = parts[0];\n        searchLast = parts.length > 1 ? parts.slice(1).join(' ') : null;\n      }\n      if (!searchFirst && p.name) {\n        const parts = p.name.split(' ');\n        searchFirst = parts[0];\n        searchLast = parts.length > 1 ? parts.slice(1).join(' ') : null;\n      }\n      let emp = await findEmployee(searchFirst, searchLast);\n      if (!emp) {\n        // Try 1: filtered search by firstName/lastName\n        const s = await tx('GET', '/employee?from=0&count=50' + (searchFirst ? '&firstName=' + encodeURIComponent(searchFirst) : '') + (searchLast ? '&lastName=' + encodeURIComponent(searchLast) : ''));\n        if (s.ok && s.data && s.data.values && s.data.values.length > 0) {\n          emp = s.data.values.find(e => (!searchFirst || (e.firstName || '').toLowerCase() === searchFirst.toLowerCase()) && (!searchLast || (e.lastName || '').toLowerCase() === searchLast.toLowerCase()));\n          if (!emp && (searchFirst || searchLast)) emp = s.data.values[0];\n        }\n      }\n      if (!emp && (searchFirst || searchLast)) {\n        // Try 2: get ALL employees, fuzzy match by full name\n        const fullName = ((searchFirst || '') + ' ' + (searchLast || '')).trim().toLowerCase();\n        const all = await tx('GET', '/employee?from=0&count=100');\n        if (all.ok && all.data && all.data.values) {\n          emp = all.data.values.find(e => {\n            const eName = ((e.firstName || '') + ' ' + (e.lastName || '')).trim().toLowerCase();\n            return eName === fullName || eName.includes(fullName) || fullName.includes(eName);\n          });\n          // Also try partial match on firstName only\n          if (!emp && searchFirst) {\n            emp = all.data.values.find(e => (e.firstName || '').toLowerCase() === searchFirst.toLowerCase());\n          }\n        }\n      }\n      if (emp) {\n        const full = await tx('GET', '/employee/' + emp.id + '?fields=*,employments(*)');\n        if (full.ok) {\n          const upd = full.data.value;\n          if (!upd.dateOfBirth) upd.dateOfBirth = '1990-01-01';\n          const updates = p.updates || {};\n          if (updates.email || p.newEmail) upd.email = updates.email || p.newEmail;\n          if (updates.phoneNumberMobile || p.newPhone || updates.phoneNumber) {\n            let phone = String(updates.phoneNumberMobile || p.newPhone || updates.phoneNumber).replace(/[^0-9]/g, '');\n            if (phone.length === 8) upd.phoneNumberMobile = phone;\n          }\n          if (updates.firstName || p.newFirstName) upd.firstName = updates.firstName || p.newFirstName;\n          if (updates.lastName || p.newLastName) upd.lastName = updates.lastName || p.newLastName;\n          if (updates.dateOfBirth) upd.dateOfBirth = updates.dateOfBirth;\n          if (updates.department) {\n            const dept = await findDeptByName(updates.department);\n            if (dept) upd.department = { id: dept.id };\n          }\n          const r = await tx('PUT', '/employee/' + emp.id, upd);\n          results.push(r); success = r.ok;\n        }\n      } else results.push({ error: 'Employee not found' });\n      break;\n    }\n\n    case 'update_customer': {\n      const cs = await tx('GET', '/customer?name=' + encodeURIComponent(p.name || p.oldName || '') + '&from=0&count=50');\n      if (cs.ok && cs.data && cs.data.values && cs.data.values.length > 0) {\n        const match = cs.data.values.find(c => (p.name || p.oldName) && (c.name || '').toLowerCase().includes((p.name || p.oldName || '').toLowerCase())) || cs.data.values[0];\n        const full = await tx('GET', '/customer/' + match.id);\n        if (full.ok) {\n          const upd = full.data.value;\n          const updates = p.updates || {};\n          if (updates.name || p.newName) upd.name = updates.name || p.newName;\n          if (updates.email) upd.email = updates.email;\n          if (updates.phoneNumber) upd.phoneNumber = String(updates.phoneNumber);\n          if (updates.address || updates.postalCode || updates.city) {\n            if (!upd.postalAddress) upd.postalAddress = {};\n            if (updates.address) upd.postalAddress.addressLine1 = updates.address;\n            if (updates.postalCode) upd.postalAddress.postalCode = String(updates.postalCode);\n            if (updates.city) upd.postalAddress.city = updates.city;\n            upd.postalAddress.country = { id: 161 };\n          }\n          const r = await tx('PUT', '/customer/' + match.id, upd);\n          results.push(r); success = r.ok;\n        }\n      } else results.push({ error: 'Customer not found' });\n      break;\n    }\n    default: break;\n  }\n} catch(e) { results.push({ error: e.message }); }\n}\n\nreturn [{ json: { status: 'completed', _debug: { task_type, success, results, group: 'T1_Simple' } } }];\n",
        "mode": "runOnceForAllItems"
      }
    },
    {
      "id": "r1",
      "name": "Respond T1_Simple",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2220,
        100
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      }
    },
    {
      "id": "h2",
      "name": "T2_Employee Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1980,
        300
      ],
      "parameters": {
        "jsCode": "// === SHARED UTILITIES (included at top of every handler node) ===\nconst items = $input.all();\nconst d = items[0].json;\nconst task = d.task || '';\nconst base_url = d.base_url || '';\nconst session_token = d.session_token || '';\nconst task_type = d.task_type || '';\nconst fileContext = d.fileContext || '';\nconst pdfFiles = d.pdfFiles || [];\n\nconst authHeader = 'Basic ' + Buffer.from('0:' + session_token).toString('base64');\nconst apiBase = base_url.replace(/\\/+$/, '');\nconst GEMINI_KEY = 'AIzaSyC_ya1fW-hpajZyb8osz35Y4znS9cx_h4g';\n\n// Multi-entity support\nconst entities = d.entities || null;\nconst paramsList = entities && entities.length > 0\n  ? entities.map(e => ({ ...(d.extracted_params || {}), ...e }))\n  : [d.extracted_params || {}];\n\n// === HTTP helper ===\nconst FIELD_FIXES = { 'unitPrice': 'unitPriceExcludingVatCurrency', 'unitCostCurrency': 'unitPriceExcludingVatCurrency', 'price': 'priceExcludingVatCurrency' };\nfunction sanitizeBody(endpoint, body) {\n  if (!body || typeof body !== 'object') return body;\n  const b = JSON.parse(JSON.stringify(body));\n  if (b.orderLines) { b.orderLines = b.orderLines.map(ol => { for (const [k, v] of Object.entries(FIELD_FIXES)) { if (ol[k] && !ol[v]) { ol[v] = ol[k]; delete ol[k]; } } return ol; }); }\n  if (endpoint && endpoint.includes('/invoice') && !b.invoiceDate) { b.invoiceDate = new Date().toISOString().split('T')[0]; if (!b.invoiceDueDate) b.invoiceDueDate = b.invoiceDate; }\n  if (b.postings) { b.postings = b.postings.map((p, i) => { p.row = p.row || i + 1; if (!p.date) p.date = b.date || new Date().toISOString().split('T')[0]; if (p.amountGrossCurrency === undefined) p.amountGrossCurrency = p.amountGross; return p; }); }\n  return b;\n}\n\nasync function tx(method, endpoint, reqBody) {\n  const url = apiBase + endpoint;\n  const sanitized = (method !== 'GET') ? sanitizeBody(endpoint, reqBody) : reqBody;\n  const opts = { method, url, headers: { 'Authorization': authHeader, 'Content-Type': 'application/json' }, returnFullResponse: true, ignoreHttpStatusErrors: true, json: true };\n  if (sanitized && method !== 'GET') opts.body = typeof sanitized === 'string' ? JSON.parse(sanitized) : sanitized;\n  try {\n    const r = await this.helpers.httpRequest(opts);\n    return { ok: r.statusCode >= 200 && r.statusCode < 300, status: r.statusCode, data: r.body };\n  } catch (e) {\n    let ed; try { ed = typeof e.body === 'string' ? JSON.parse(e.body) : (e.body || e.message); } catch (_) { ed = e.message; }\n    return { ok: false, error: ed, status: e.statusCode || 0, data: ed };\n  }\n}\n\nasync function callGemini(prompt, pdfs) {\n  try {\n    const parts = [{ text: prompt }];\n    if (pdfs && pdfs.length > 0) { for (const f of pdfs) { if (f.content_base64) parts.push({ inline_data: { mime_type: 'application/pdf', data: f.content_base64 } }); } }\n    const r = await this.helpers.httpRequest({\n      method: 'POST', url: 'https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key=' + GEMINI_KEY,\n      body: { contents: [{ parts }], generationConfig: { temperature: 0, topK: 1, topP: 0.1, maxOutputTokens: 4096, responseMimeType: 'application/json' }, safetySettings: [{ category: 'HARM_CATEGORY_HARASSMENT', threshold: 'BLOCK_NONE' }, { category: 'HARM_CATEGORY_HATE_SPEECH', threshold: 'BLOCK_NONE' }, { category: 'HARM_CATEGORY_SEXUALLY_EXPLICIT', threshold: 'BLOCK_NONE' }, { category: 'HARM_CATEGORY_DANGEROUS_CONTENT', threshold: 'BLOCK_NONE' }] },\n      headers: { 'Content-Type': 'application/json' }, json: true\n    });\n    const raw = r.candidates[0].content.parts.find(p => p.text)?.text || '{}';\n    try { return JSON.parse(raw); } catch(e) {\n      const m = raw.match(/```(?:json)?\\s*([\\s\\S]*?)```/); if (m) try { return JSON.parse(m[1].trim()); } catch(_) {}\n      const idx = raw.search(/[{[]/); if (idx >= 0) try { return JSON.parse(raw.substring(idx)); } catch(_) {}\n      return {};\n    }\n  } catch(e) { return {}; }\n}\n\n// Cache\nlet _departments = null, _employees = null;\nasync function getDepartments() { if (!_departments) { const r = await tx('GET', '/department?from=0&count=100'); _departments = (r.ok && r.data && r.data.values) ? r.data.values : []; } return _departments; }\nasync function getEmployees() { if (!_employees) { const r = await tx('GET', '/employee?from=0&count=100&fields=id,firstName,lastName,email,department'); _employees = (r.ok && r.data && r.data.values) ? r.data.values : []; } return _employees; }\nasync function getDefaultDeptId() { const d = await getDepartments(); return d.length > 0 ? d[0].id : null; }\nasync function getFirstEmployeeId() { const e = await getEmployees(); return e.length > 0 ? e[0].id : null; }\nasync function findEmployee(firstName, lastName) { const emps = await getEmployees(); return emps.find(e => (!firstName || (e.firstName||'').toLowerCase() === firstName.toLowerCase()) && (!lastName || (e.lastName||'').toLowerCase() === lastName.toLowerCase())) || null; }\nasync function findDeptByName(name) { if (!name) return null; const depts = await getDepartments(); return depts.find(d => d.name && d.name.toLowerCase().includes(name.toLowerCase())) || null; }\n\nlet _bankSetupDone = false;\nasync function ensureBankAccount() {\n  if (_bankSetupDone) return; _bankSetupDone = true;\n  try { const ba = await tx('GET', '/ledger/account?number=1920&from=0&count=1&fields=id,bankAccountNumber'); if (ba.ok && ba.data && ba.data.values && ba.data.values.length > 0) { const a = ba.data.values[0]; if (!a.bankAccountNumber) { const f = await tx('GET', '/ledger/account/' + a.id); if (f.ok) { f.data.value.bankAccountNumber = '86010517941'; await tx('PUT', '/ledger/account/' + a.id, f.data.value); } } } } catch(e) {}\n}\n\nfunction getOutgoingVatId(pct) { const t = pct != null ? Number(pct) : 25; return { 25: 3, 15: 31, 12: 32, 0: 6 }[t] || 3; }\n\nlet results = [], success = false;\n// === END SHARED UTILITIES ===\n\n\n// === T2_Employee HANDLER ===\nfor (const p of paramsList) {\ntry {\n  switch (task_type) {\n    case 'create_employee': {\n      const b = {};\n      if (p.firstName) b.firstName = p.firstName;\n      if (p.lastName) b.lastName = p.lastName;\n      if (p.email) b.email = p.email;\n      if (p.phoneNumberMobile || p.phoneNumber) {\n        let phone = String(p.phoneNumberMobile || p.phoneNumber).replace(/[^0-9+]/g, '');\n        if (phone.startsWith('+47')) phone = phone.substring(3);\n        if (phone.startsWith('0047')) phone = phone.substring(4);\n        if (phone.startsWith('47') && phone.length === 10) phone = phone.substring(2);\n        if (phone.length === 8 && /^[49]/.test(phone)) b.phoneNumberMobile = phone;\n      }\n      if (p.dateOfBirth) b.dateOfBirth = p.dateOfBirth;\n      if (p.nationalIdentityNumber) {\n        const nid = String(p.nationalIdentityNumber).replace(/\\s/g, '');\n        if (nid.length === 11 && /^\\d{11}$/.test(nid)) b.nationalIdentityNumber = nid;\n      }\n      // NEVER send startDate or occupationCode in employee body — API rejects them\n      // occupationCode goes on employment/details, handled after creation\n      // startDate belongs on employments, handled separately after creation\n      b.userType = b.email ? 'STANDARD' : 'NO_ACCESS';\n      if (p.department) {\n        const dept = await findDeptByName(p.department);\n        if (dept) b.department = { id: dept.id };\n      }\n      if (!b.department) { const did = await getDefaultDeptId(); if (did) b.department = { id: did }; }\n      const r = await tx('POST', '/employee', b);\n      results.push(r); success = r.ok;\n      if (r.ok) {\n        const newEmpId = r.data.value.id;\n        // Grant ALL_PRIVILEGES entitlements (= \"Administrator role assigned\", worth 5 points)\n        const entR = await tx('PUT', '/employee/entitlement/:grantEntitlementsByTemplate?employeeId=' + newEmpId + '&template=ALL_PRIVILEGES', {});\n        results.push({ step: 'grant_entitlements', ok: entR.ok || entR.status === 200, status: entR.status });\n        // Set startDate and employment details if provided\n        if (p.startDate || p.salary || p.employmentPercentage || p.occupationCode || p.employmentType) {\n          const empFull = await tx('GET', '/employee/' + newEmpId + '?fields=*,employments(*)');\n          if (empFull.ok) {\n            const upd = empFull.data.value;\n            if (!upd.employments || upd.employments.length === 0) upd.employments = [{}];\n            if (p.startDate) upd.employments[0].startDate = p.startDate;\n            // NOTE: employmentType NOT accepted via PUT /employee — API returns 422 \"Feltet eksisterer ikke\"\n            // Must be set via separate endpoint if needed\n            const ur = await tx('PUT', '/employee/' + newEmpId, upd);\n            results.push({ step: 'set_start_date', ...ur });\n            // Set employment details (salary, percentage, occupation)\n            if (ur.ok && (p.salary || p.employmentPercentage || p.occupationCode)) {\n              const empId2 = ur.data.value.employments && ur.data.value.employments[0] ? ur.data.value.employments[0].id : null;\n              if (empId2) {\n                const detailsR = await tx('GET', '/employee/employment/details?employmentId=' + empId2 + '&from=0&count=1');\n                if (detailsR.ok && detailsR.data && detailsR.data.values && detailsR.data.values.length > 0) {\n                  const detail = detailsR.data.values[0];\n                  if (p.salary) detail.annualSalary = Number(p.salary);\n                  if (p.employmentPercentage) detail.percentageOfFullTimeEquivalent = Number(p.employmentPercentage);\n                  if (p.occupationCode) detail.occupationCode = { code: String(p.occupationCode) };\n                  const detUpd = await tx('PUT', '/employee/employment/details/' + detail.id, detail);\n                  results.push({ step: 'set_employment_details', ok: detUpd.ok, status: detUpd.status });\n                } else {\n                  // Create new employment details\n                  const newDetail = { employment: { id: empId2 } };\n                  if (p.salary) newDetail.annualSalary = Number(p.salary);\n                  if (p.employmentPercentage) newDetail.percentageOfFullTimeEquivalent = Number(p.employmentPercentage);\n                  if (p.occupationCode) newDetail.occupationCode = { code: String(p.occupationCode) };\n                  const detPost = await tx('POST', '/employee/employment/details', newDetail);\n                  results.push({ step: 'set_employment_details', ok: detPost.ok, status: detPost.status });\n                }\n              }\n            }\n          }\n        }\n      }\n      break;\n    }\n    default: break;\n  }\n} catch(e) { results.push({ error: e.message }); }\n}\n\nreturn [{ json: { status: 'completed', _debug: { task_type, success, results, group: 'T2_Employee' } } }];\n",
        "mode": "runOnceForAllItems"
      }
    },
    {
      "id": "r2",
      "name": "Respond T2_Employee",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2220,
        300
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      }
    },
    {
      "id": "h3",
      "name": "T3_Invoice Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1980,
        500
      ],
      "parameters": {
        "jsCode": "// === SHARED UTILITIES (included at top of every handler node) ===\nconst items = $input.all();\nconst d = items[0].json;\nconst task = d.task || '';\nconst base_url = d.base_url || '';\nconst session_token = d.session_token || '';\nconst task_type = d.task_type || '';\nconst fileContext = d.fileContext || '';\nconst pdfFiles = d.pdfFiles || [];\n\nconst authHeader = 'Basic ' + Buffer.from('0:' + session_token).toString('base64');\nconst apiBase = base_url.replace(/\\/+$/, '');\nconst GEMINI_KEY = 'AIzaSyC_ya1fW-hpajZyb8osz35Y4znS9cx_h4g';\n\n// Multi-entity support\nconst entities = d.entities || null;\nconst paramsList = entities && entities.length > 0\n  ? entities.map(e => ({ ...(d.extracted_params || {}), ...e }))\n  : [d.extracted_params || {}];\n\n// === HTTP helper ===\nconst FIELD_FIXES = { 'unitPrice': 'unitPriceExcludingVatCurrency', 'unitCostCurrency': 'unitPriceExcludingVatCurrency', 'price': 'priceExcludingVatCurrency' };\nfunction sanitizeBody(endpoint, body) {\n  if (!body || typeof body !== 'object') return body;\n  const b = JSON.parse(JSON.stringify(body));\n  if (b.orderLines) { b.orderLines = b.orderLines.map(ol => { for (const [k, v] of Object.entries(FIELD_FIXES)) { if (ol[k] && !ol[v]) { ol[v] = ol[k]; delete ol[k]; } } return ol; }); }\n  if (endpoint && endpoint.includes('/invoice') && !b.invoiceDate) { b.invoiceDate = new Date().toISOString().split('T')[0]; if (!b.invoiceDueDate) b.invoiceDueDate = b.invoiceDate; }\n  if (b.postings) { b.postings = b.postings.map((p, i) => { p.row = p.row || i + 1; if (!p.date) p.date = b.date || new Date().toISOString().split('T')[0]; if (p.amountGrossCurrency === undefined) p.amountGrossCurrency = p.amountGross; return p; }); }\n  return b;\n}\n\nasync function tx(method, endpoint, reqBody) {\n  const url = apiBase + endpoint;\n  const sanitized = (method !== 'GET') ? sanitizeBody(endpoint, reqBody) : reqBody;\n  const opts = { method, url, headers: { 'Authorization': authHeader, 'Content-Type': 'application/json' }, returnFullResponse: true, ignoreHttpStatusErrors: true, json: true };\n  if (sanitized && method !== 'GET') opts.body = typeof sanitized === 'string' ? JSON.parse(sanitized) : sanitized;\n  try {\n    const r = await this.helpers.httpRequest(opts);\n    return { ok: r.statusCode >= 200 && r.statusCode < 300, status: r.statusCode, data: r.body };\n  } catch (e) {\n    let ed; try { ed = typeof e.body === 'string' ? JSON.parse(e.body) : (e.body || e.message); } catch (_) { ed = e.message; }\n    return { ok: false, error: ed, status: e.statusCode || 0, data: ed };\n  }\n}\n\nasync function callGemini(prompt, pdfs) {\n  try {\n    const parts = [{ text: prompt }];\n    if (pdfs && pdfs.length > 0) { for (const f of pdfs) { if (f.content_base64) parts.push({ inline_data: { mime_type: 'application/pdf', data: f.content_base64 } }); } }\n    const r = await this.helpers.httpRequest({\n      method: 'POST', url: 'https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key=' + GEMINI_KEY,\n      body: { contents: [{ parts }], generationConfig: { temperature: 0, topK: 1, topP: 0.1, maxOutputTokens: 4096, responseMimeType: 'application/json' }, safetySettings: [{ category: 'HARM_CATEGORY_HARASSMENT', threshold: 'BLOCK_NONE' }, { category: 'HARM_CATEGORY_HATE_SPEECH', threshold: 'BLOCK_NONE' }, { category: 'HARM_CATEGORY_SEXUALLY_EXPLICIT', threshold: 'BLOCK_NONE' }, { category: 'HARM_CATEGORY_DANGEROUS_CONTENT', threshold: 'BLOCK_NONE' }] },\n      headers: { 'Content-Type': 'application/json' }, json: true\n    });\n    const raw = r.candidates[0].content.parts.find(p => p.text)?.text || '{}';\n    try { return JSON.parse(raw); } catch(e) {\n      const m = raw.match(/```(?:json)?\\s*([\\s\\S]*?)```/); if (m) try { return JSON.parse(m[1].trim()); } catch(_) {}\n      const idx = raw.search(/[{[]/); if (idx >= 0) try { return JSON.parse(raw.substring(idx)); } catch(_) {}\n      return {};\n    }\n  } catch(e) { return {}; }\n}\n\n// Cache\nlet _departments = null, _employees = null;\nasync function getDepartments() { if (!_departments) { const r = await tx('GET', '/department?from=0&count=100'); _departments = (r.ok && r.data && r.data.values) ? r.data.values : []; } return _departments; }\nasync function getEmployees() { if (!_employees) { const r = await tx('GET', '/employee?from=0&count=100&fields=id,firstName,lastName,email,department'); _employees = (r.ok && r.data && r.data.values) ? r.data.values : []; } return _employees; }\nasync function getDefaultDeptId() { const d = await getDepartments(); return d.length > 0 ? d[0].id : null; }\nasync function getFirstEmployeeId() { const e = await getEmployees(); return e.length > 0 ? e[0].id : null; }\nasync function findEmployee(firstName, lastName) { const emps = await getEmployees(); return emps.find(e => (!firstName || (e.firstName||'').toLowerCase() === firstName.toLowerCase()) && (!lastName || (e.lastName||'').toLowerCase() === lastName.toLowerCase())) || null; }\nasync function findDeptByName(name) { if (!name) return null; const depts = await getDepartments(); return depts.find(d => d.name && d.name.toLowerCase().includes(name.toLowerCase())) || null; }\n\nlet _bankSetupDone = false;\nasync function ensureBankAccount() {\n  if (_bankSetupDone) return; _bankSetupDone = true;\n  try { const ba = await tx('GET', '/ledger/account?number=1920&from=0&count=1&fields=id,bankAccountNumber'); if (ba.ok && ba.data && ba.data.values && ba.data.values.length > 0) { const a = ba.data.values[0]; if (!a.bankAccountNumber) { const f = await tx('GET', '/ledger/account/' + a.id); if (f.ok) { f.data.value.bankAccountNumber = '86010517941'; await tx('PUT', '/ledger/account/' + a.id, f.data.value); } } } } catch(e) {}\n}\n\nfunction getOutgoingVatId(pct) { const t = pct != null ? Number(pct) : 25; return { 25: 3, 15: 31, 12: 32, 0: 6 }[t] || 3; }\n\nlet results = [], success = false;\n// === END SHARED UTILITIES ===\n\n\n// === T3_Invoice HANDLER ===\nfor (const p of paramsList) {\ntry {\n  switch (task_type) {\n    case 'create_invoice': {\n      await ensureBankAccount();\n      // Find customer (or create with orgNumber)\n      let customerId;\n      let customerEmail = '';\n      if (p.customerName) {\n        const custResult = await tx('GET', '/customer?name=' + encodeURIComponent(p.customerName) + '&from=0&count=5');\n        if (custResult.ok && custResult.data && custResult.data.values && custResult.data.values.length > 0) {\n          customerId = custResult.data.values[0].id;\n          customerEmail = custResult.data.values[0].email || '';\n        } else {\n          const custBody = { name: p.customerName, isCustomer: true };\n          if (p.customerOrgNumber) custBody.organizationNumber = String(p.customerOrgNumber);\n          const nc = await tx('POST', '/customer', custBody);\n          if (nc.ok) { customerId = nc.data.value.id; customerEmail = nc.data.value.email || ''; }\n          results.push({ step: 'create_customer', ...nc });\n        }\n      }\n      if (!customerId) {\n        const ac = await tx('GET', '/customer?from=0&count=1');\n        if (ac.ok && ac.data && ac.data.values && ac.data.values.length > 0) {\n          customerId = ac.data.values[0].id;\n          customerEmail = ac.data.values[0].email || '';\n        }\n      }\n      if (!customerId) { results.push({ error: 'No customer' }); break; }\n\n      const today = new Date().toISOString().split('T')[0];\n      const iDate = p.invoiceDate || today;\n      // Build orderLines with description fallback from prompt-level fields\n      const defaultDesc = p.productDescription || p.description || 'Service';\n      const defaultPrice = p.amount || p.productPrice || 1000;\n      const oLines = (p.lines && p.lines.length > 0 ? p.lines : [{ description: defaultDesc, quantity: 1, unitPrice: defaultPrice }]).map(l => ({\n        description: l.description || l.product || defaultDesc,\n        count: l.quantity || 1,\n        unitPriceExcludingVatCurrency: l.unitPrice || l.amount || defaultPrice\n      }));\n\n      const order = await tx('POST', '/order', {\n        customer: { id: customerId }, deliveryDate: iDate, orderDate: iDate, orderLines: oLines\n      });\n      results.push({ step: 'create_order', ...order });\n\n      let invoiceId = null;\n      if (order.ok) {\n        const orderId = order.data.value.id;\n        const dueDate = p.dueDate || iDate;\n        // Primary: POST /invoice with order reference\n        const inv = await tx('POST', '/invoice', {\n          invoiceDate: iDate,\n          invoiceDueDate: dueDate,\n          orders: [{ id: orderId }]\n        });\n        results.push({ step: 'create_invoice', ...inv });\n        success = inv.ok;\n        if (inv.ok) invoiceId = inv.data.value.id;\n        // Fallback: PUT /order/:invoice\n        if (!inv.ok) {\n          let invoiceUrl = '/order/' + orderId + '/:invoice?invoiceDate=' + iDate + '&sendToCustomer=false';\n          if (p.dueDate) invoiceUrl += '&invoiceDueDate=' + p.dueDate;\n          const inv2 = await tx('PUT', invoiceUrl, {});\n          results.push({ step: 'create_invoice_fallback', ...inv2 });\n          success = inv2.ok;\n          if (inv2.ok) invoiceId = inv2.data.value.id;\n        }\n      }\n      // Send invoice if requested (envie/send/sende/enviar/envoyer/schicken)\n      if (invoiceId && (p.shouldSend || /\\b(send|envie|sende|enviar|envoyer|schicken|zuschicken)\\b/i.test(task))) {\n        const sendR = await tx('PUT', '/invoice/' + invoiceId + '/:send?sendType=EMAIL&overrideEmailAddress=' + encodeURIComponent(customerEmail || 'noreply@tripletex.no'), {});\n        results.push({ step: 'send_invoice', ...sendR });\n      }\n      break;\n    }\n\n    case 'credit_note': {\n      // Ensure bank account is set (needed for invoice creation)\n      await ensureBankAccount();\n      let invId = p.invoiceId;\n      if (!invId && p.invoiceNumber) {\n        const is = await tx('GET', '/invoice?invoiceNumber=' + p.invoiceNumber + '&from=0&count=5');\n        if (is.ok && is.data && is.data.values && is.data.values.length > 0) invId = is.data.values[0].id;\n      }\n      if (!invId) {\n        const is = await tx('GET', '/invoice?from=0&count=10');\n        if (is.ok && is.data && is.data.values && is.data.values.length > 0) invId = is.data.values[0].id;\n      }\n      // If no invoice found on fresh account, create the full chain\n      if (!invId && (p.customerName || p.amount || p.productDescription)) {\n        const today = new Date().toISOString().split('T')[0];\n        // 1. Create/find customer\n        let custId;\n        if (p.customerName) {\n          const cs = await tx('GET', '/customer?name=' + encodeURIComponent(p.customerName) + '&from=0&count=5');\n          if (cs.ok && cs.data && cs.data.values && cs.data.values.length > 0) {\n            custId = cs.data.values[0].id;\n          } else {\n            const nc = await tx('POST', '/customer', { name: p.customerName, organizationNumber: p.customerOrgNumber ? String(p.customerOrgNumber) : '', isCustomer: true });\n            if (nc.ok) custId = nc.data.value.id;\n            results.push({ step: 'create_customer', ...nc });\n          }\n        }\n        if (!custId) {\n          const ac = await tx('GET', '/customer?from=0&count=1');\n          if (ac.ok && ac.data && ac.data.values && ac.data.values.length > 0) custId = ac.data.values[0].id;\n        }\n        if (custId) {\n          // 2. Create order\n          const amount = Number(p.amount || p.amountExcludingVat || 0);\n          const desc = p.productDescription || p.description || 'Service';\n          const order = await tx('POST', '/order', {\n            customer: { id: custId }, orderDate: today, deliveryDate: today,\n            orderLines: [{ description: desc, count: 1, unitPriceExcludingVatCurrency: amount }]\n          });\n          results.push({ step: 'create_order', ...order });\n          if (order.ok) {\n            // 3. Create invoice\n            const inv = await tx('POST', '/invoice', { invoiceDate: today, invoiceDueDate: today, orders: [{ id: order.data.value.id }] });\n            results.push({ step: 'create_invoice', ...inv });\n            if (inv.ok) invId = inv.data.value.id;\n          }\n        }\n      }\n      if (invId) {\n        const cnDate = new Date().toISOString().split('T')[0];\n        const r = await tx('PUT', '/invoice/' + invId + '/:createCreditNote?date=' + cnDate, {});\n        results.push(r); success = r.ok;\n      }\n      else results.push({ error: 'No invoice' });\n      break;\n    }\n\n    case 'register_payment': {\n      await ensureBankAccount();\n      let invId = p.invoiceId;\n      const today = new Date().toISOString().split('T')[0];\n      const payDate = p.paymentDate || today;\n      const payAmount = p.amount || p.productPrice || 0;\n\n      // Step 1: Try to find existing invoice\n      if (!invId && p.invoiceNumber) {\n        const is = await tx('GET', '/invoice?invoiceNumber=' + p.invoiceNumber + '&from=0&count=5');\n        if (is.ok && is.data && is.data.values && is.data.values.length > 0) invId = is.data.values[0].id;\n      }\n      if (!invId) {\n        const is = await tx('GET', '/invoice?from=0&count=50');\n        if (is.ok && is.data && is.data.values) {\n          const outstanding = is.data.values.find(i => i.amountOutstanding && i.amountOutstanding > 0);\n          if (outstanding) invId = outstanding.id;\n        }\n      }\n\n      // Step 2: If no invoice found, create the full chain: customer → order → invoice\n      if (!invId && (p.customerName || p.customerOrgNumber || p.productDescription)) {\n        // 2a: Find or create customer\n        let customerId;\n        if (p.customerName) {\n          const cs = await tx('GET', '/customer?name=' + encodeURIComponent(p.customerName) + '&from=0&count=5');\n          if (cs.ok && cs.data && cs.data.values && cs.data.values.length > 0) {\n            customerId = cs.data.values[0].id;\n          }\n        }\n        if (!customerId) {\n          const custBody = { name: p.customerName || 'Customer', isCustomer: true };\n          if (p.customerOrgNumber) custBody.organizationNumber = String(p.customerOrgNumber);\n          const nc = await tx('POST', '/customer', custBody);\n          results.push({ step: 'create_customer', ...nc });\n          if (nc.ok) customerId = nc.data.value.id;\n        }\n        if (!customerId) {\n          const ac = await tx('GET', '/customer?from=0&count=1');\n          if (ac.ok && ac.data && ac.data.values && ac.data.values.length > 0) customerId = ac.data.values[0].id;\n        }\n\n        if (customerId) {\n          // 2b: Create products and build orderLines\n          // Support multiple products: p.products[] OR single p.productDescription/productPrice\n          const productList = (p.products && p.products.length > 0) ? p.products\n            : [{ name: p.productDescription || p.description || 'Service', number: p.productNumber, unitPrice: p.productPrice || p.amount || 0 }];\n\n          const orderLines = [];\n          for (const prod of productList) {\n            const prodPrice = Number(prod.unitPrice || prod.price || 0);\n            const prodName = prod.name || prod.description || 'Service';\n            const prodBody = { name: prodName, priceExcludingVatCurrency: prodPrice };\n            if (prod.number) prodBody.number = String(prod.number);\n            const prodRes = await tx('POST', '/product', prodBody);\n            if (!prodRes.ok) {\n              // Retry without number (might conflict) and without vatType\n              delete prodBody.number;\n              const prodRes2 = await tx('POST', '/product', prodBody);\n              results.push({ step: 'create_product', ...prodRes2 });\n              const ol = { description: prodName, count: prod.quantity || 1, unitPriceExcludingVatCurrency: prodPrice };\n              if (prodRes2.ok) ol.product = { id: prodRes2.data.value.id };\n              orderLines.push(ol);\n            } else {\n              results.push({ step: 'create_product', ...prodRes });\n              const ol = { description: prodName, count: prod.quantity || 1, unitPriceExcludingVatCurrency: prodPrice };\n              ol.product = { id: prodRes.data.value.id };\n              orderLines.push(ol);\n            }\n          }\n          if (orderLines.length === 0) {\n            orderLines.push({ description: 'Service', count: 1, unitPriceExcludingVatCurrency: Number(p.amount || 1000) });\n          }\n\n          const order = await tx('POST', '/order', {\n            customer: { id: customerId },\n            deliveryDate: today,\n            orderDate: today,\n            orderLines: orderLines\n          });\n          results.push({ step: 'create_order', ...order });\n\n          // 2c: Create invoice from order\n          if (order.ok) {\n            const orderId = order.data.value.id;\n            // Primary: POST /invoice\n            const inv = await tx('POST', '/invoice', {\n              invoiceDate: today,\n              invoiceDueDate: today,\n              orders: [{ id: orderId }]\n            });\n            results.push({ step: 'create_invoice', ...inv });\n            if (inv.ok && inv.data && inv.data.value) {\n              invId = inv.data.value.id;\n            }\n            // Fallback: PUT /order/:invoice\n            if (!inv.ok) {\n              const inv2 = await tx('PUT', '/order/' + orderId + '/:invoice?invoiceDate=' + today + '&sendToCustomer=false', {});\n              results.push({ step: 'create_invoice_fallback', ...inv2 });\n              if (inv2.ok && inv2.data && inv2.data.value) {\n                invId = inv2.data.value.id;\n              }\n            }\n          }\n        }\n      }\n\n      // Step 3: Register payment on the invoice\n      if (invId) {\n        // Get the actual invoice amount if we need it\n        let actualAmount = payAmount;\n        if (!actualAmount || actualAmount === 0) {\n          const invDetail = await tx('GET', '/invoice/' + invId);\n          if (invDetail.ok && invDetail.data && invDetail.data.value) {\n            actualAmount = invDetail.data.value.amount || invDetail.data.value.amountOutstanding || 0;\n          }\n        }\n        // PUT /:payment requires query params. Needs INCOMING payment type from /invoice/paymentType\n        // (NOT /ledger/paymentTypeOut which are outgoing!)\n        let payTypeId = 0;\n        try {\n          const ptIn = await tx('GET', '/invoice/paymentType?from=0&count=10');\n          if (ptIn.ok && ptIn.data && ptIn.data.values && ptIn.data.values.length > 0) {\n            // Prefer \"bank\" type, fallback to first\n            const bankType = ptIn.data.values.find(pt => (pt.description || '').toLowerCase().includes('bank'));\n            payTypeId = bankType ? bankType.id : ptIn.data.values[0].id;\n          }\n        } catch(e) {}\n        const r = await tx('PUT', '/invoice/' + invId + '/:payment?paymentDate=' + payDate + '&paymentTypeId=' + payTypeId + '&paidAmount=' + actualAmount, {});\n        results.push({ step: 'payment', ...r });\n        success = r.ok;\n\n        // Handle exchange rate difference if currency specified\n        if (r.ok && p.currency && p.exchangeRateInvoice && p.exchangeRatePayment) {\n          const invRate = Number(p.exchangeRateInvoice);\n          const payRate = Number(p.exchangeRatePayment);\n          const foreignAmount = Number(p.amount || 0);\n          const diff = Math.round((invRate - payRate) * foreignAmount * 100) / 100;\n          if (Math.abs(diff) > 0.01) {\n            // diff > 0 = loss (disagio 8160), diff < 0 = gain (agio 8060)\n            const isLoss = diff > 0;\n            const acctExch = await tx('GET', '/ledger/account?number=' + (isLoss ? '8160' : '8060') + '&from=0&count=1');\n            const acct1500 = await tx('GET', '/ledger/account?number=1500&from=0&count=1');\n            if (acctExch.ok && acctExch.data.values.length > 0 && acct1500.ok && acct1500.data.values.length > 0) {\n              const exchAcctId = acctExch.data.values[0].id;\n              const custAcctId = acct1500.data.values[0].id;\n              const absDiff = Math.abs(diff);\n              const exchVoucher = await tx('POST', '/ledger/voucher', {\n                date: payDate || new Date().toISOString().split('T')[0],\n                description: (isLoss ? 'Valutatap (disagio)' : 'Valutagevinst (agio)') + ' - ' + (p.currency || ''),\n                postings: [\n                  { row: 1, date: payDate || new Date().toISOString().split('T')[0], account: { id: isLoss ? exchAcctId : custAcctId }, amountGross: absDiff, amountGrossCurrency: absDiff },\n                  { row: 2, date: payDate || new Date().toISOString().split('T')[0], account: { id: isLoss ? custAcctId : exchAcctId }, amountGross: -absDiff, amountGrossCurrency: -absDiff }\n                ]\n              });\n              results.push({ step: 'exchange_rate_voucher', ...exchVoucher });\n            }\n          }\n        }\n      } else {\n        results.push({ error: 'No invoice found and could not create one' });\n      }\n      break;\n    }\n\n    case 'reverse_payment': {\n      // Payment was made but needs to be reversed (bank reversal, chargeback, etc.)\n      // Chain: customer → order → invoice → payment → NEGATIVE payment (reverses it)\n      await ensureBankAccount();\n      const today = new Date().toISOString().split('T')[0];\n      // Create/find customer\n      let rpCustId;\n      if (p.customerName) {\n        const cs = await tx('GET', '/customer?name=' + encodeURIComponent(p.customerName) + '&from=0&count=5');\n        if (cs.ok && cs.data && cs.data.values && cs.data.values.length > 0) rpCustId = cs.data.values[0].id;\n        else {\n          const custBody = { name: p.customerName, isCustomer: true };\n          if (p.customerOrgNumber) custBody.organizationNumber = String(p.customerOrgNumber);\n          const nc = await tx('POST', '/customer', custBody);\n          if (nc.ok) rpCustId = nc.data.value.id;\n          results.push({ step: 'create_customer', ...nc });\n        }\n      }\n      if (!rpCustId) { results.push({ error: 'No customer for reverse_payment' }); break; }\n      // Create order + invoice\n      const rpDesc = p.productDescription || p.description || 'Service';\n      const rpAmount = Number(p.amount || p.productPrice || 0);\n      const rpOrder = await tx('POST', '/order', {\n        customer: { id: rpCustId }, orderDate: today, deliveryDate: today,\n        orderLines: [{ description: rpDesc, count: 1, unitPriceExcludingVatCurrency: rpAmount }]\n      });\n      results.push({ step: 'create_order', ...rpOrder });\n      if (!rpOrder.ok) break;\n      const rpOrdId = rpOrder.data.value.id;\n      const rpInv = await tx('POST', '/invoice', { invoiceDate: today, invoiceDueDate: today, orders: [{ id: rpOrdId }] });\n      results.push({ step: 'create_invoice', ...rpInv });\n      if (!rpInv.ok) break;\n      const rpInvId = rpInv.data.value.id;\n      const rpInvAmt = rpInv.data.value.amount || rpAmount;\n      // Get payment type\n      let rpPtId = 0;\n      const rpPt = await tx('GET', '/invoice/paymentType?from=0&count=5');\n      if (rpPt.ok && rpPt.data && rpPt.data.values && rpPt.data.values.length > 0) rpPtId = rpPt.data.values[0].id;\n      // Register original payment\n      const rpPay = await tx('PUT', '/invoice/' + rpInvId + '/:payment?paymentDate=' + today + '&paymentTypeId=' + rpPtId + '&paidAmount=' + rpInvAmt, {});\n      results.push({ step: 'register_payment', ...rpPay });\n      // Reverse with NEGATIVE payment\n      const rpReverse = await tx('PUT', '/invoice/' + rpInvId + '/:payment?paymentDate=' + today + '&paymentTypeId=' + rpPtId + '&paidAmount=-' + rpInvAmt, {});\n      results.push({ step: 'reverse_payment', ...rpReverse });\n      success = rpReverse.ok;\n      break;\n    }\n    default: break;\n  }\n} catch(e) { results.push({ error: e.message }); }\n}\n\nreturn [{ json: { status: 'completed', _debug: { task_type, success, results, group: 'T3_Invoice' } } }];\n",
        "mode": "runOnceForAllItems"
      }
    },
    {
      "id": "r3",
      "name": "Respond T3_Invoice",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2220,
        500
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      }
    },
    {
      "id": "h4",
      "name": "T4_Project Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1980,
        700
      ],
      "parameters": {
        "jsCode": "// === SHARED UTILITIES (included at top of every handler node) ===\nconst items = $input.all();\nconst d = items[0].json;\nconst task = d.task || '';\nconst base_url = d.base_url || '';\nconst session_token = d.session_token || '';\nconst task_type = d.task_type || '';\nconst fileContext = d.fileContext || '';\nconst pdfFiles = d.pdfFiles || [];\n\nconst authHeader = 'Basic ' + Buffer.from('0:' + session_token).toString('base64');\nconst apiBase = base_url.replace(/\\/+$/, '');\nconst GEMINI_KEY = 'AIzaSyC_ya1fW-hpajZyb8osz35Y4znS9cx_h4g';\n\n// Multi-entity support\nconst entities = d.entities || null;\nconst paramsList = entities && entities.length > 0\n  ? entities.map(e => ({ ...(d.extracted_params || {}), ...e }))\n  : [d.extracted_params || {}];\n\n// === HTTP helper ===\nconst FIELD_FIXES = { 'unitPrice': 'unitPriceExcludingVatCurrency', 'unitCostCurrency': 'unitPriceExcludingVatCurrency', 'price': 'priceExcludingVatCurrency' };\nfunction sanitizeBody(endpoint, body) {\n  if (!body || typeof body !== 'object') return body;\n  const b = JSON.parse(JSON.stringify(body));\n  if (b.orderLines) { b.orderLines = b.orderLines.map(ol => { for (const [k, v] of Object.entries(FIELD_FIXES)) { if (ol[k] && !ol[v]) { ol[v] = ol[k]; delete ol[k]; } } return ol; }); }\n  if (endpoint && endpoint.includes('/invoice') && !b.invoiceDate) { b.invoiceDate = new Date().toISOString().split('T')[0]; if (!b.invoiceDueDate) b.invoiceDueDate = b.invoiceDate; }\n  if (b.postings) { b.postings = b.postings.map((p, i) => { p.row = p.row || i + 1; if (!p.date) p.date = b.date || new Date().toISOString().split('T')[0]; if (p.amountGrossCurrency === undefined) p.amountGrossCurrency = p.amountGross; return p; }); }\n  return b;\n}\n\nasync function tx(method, endpoint, reqBody) {\n  const url = apiBase + endpoint;\n  const sanitized = (method !== 'GET') ? sanitizeBody(endpoint, reqBody) : reqBody;\n  const opts = { method, url, headers: { 'Authorization': authHeader, 'Content-Type': 'application/json' }, returnFullResponse: true, ignoreHttpStatusErrors: true, json: true };\n  if (sanitized && method !== 'GET') opts.body = typeof sanitized === 'string' ? JSON.parse(sanitized) : sanitized;\n  try {\n    const r = await this.helpers.httpRequest(opts);\n    return { ok: r.statusCode >= 200 && r.statusCode < 300, status: r.statusCode, data: r.body };\n  } catch (e) {\n    let ed; try { ed = typeof e.body === 'string' ? JSON.parse(e.body) : (e.body || e.message); } catch (_) { ed = e.message; }\n    return { ok: false, error: ed, status: e.statusCode || 0, data: ed };\n  }\n}\n\nasync function callGemini(prompt, pdfs) {\n  try {\n    const parts = [{ text: prompt }];\n    if (pdfs && pdfs.length > 0) { for (const f of pdfs) { if (f.content_base64) parts.push({ inline_data: { mime_type: 'application/pdf', data: f.content_base64 } }); } }\n    const r = await this.helpers.httpRequest({\n      method: 'POST', url: 'https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key=' + GEMINI_KEY,\n      body: { contents: [{ parts }], generationConfig: { temperature: 0, topK: 1, topP: 0.1, maxOutputTokens: 4096, responseMimeType: 'application/json' }, safetySettings: [{ category: 'HARM_CATEGORY_HARASSMENT', threshold: 'BLOCK_NONE' }, { category: 'HARM_CATEGORY_HATE_SPEECH', threshold: 'BLOCK_NONE' }, { category: 'HARM_CATEGORY_SEXUALLY_EXPLICIT', threshold: 'BLOCK_NONE' }, { category: 'HARM_CATEGORY_DANGEROUS_CONTENT', threshold: 'BLOCK_NONE' }] },\n      headers: { 'Content-Type': 'application/json' }, json: true\n    });\n    const raw = r.candidates[0].content.parts.find(p => p.text)?.text || '{}';\n    try { return JSON.parse(raw); } catch(e) {\n      const m = raw.match(/```(?:json)?\\s*([\\s\\S]*?)```/); if (m) try { return JSON.parse(m[1].trim()); } catch(_) {}\n      const idx = raw.search(/[{[]/); if (idx >= 0) try { return JSON.parse(raw.substring(idx)); } catch(_) {}\n      return {};\n    }\n  } catch(e) { return {}; }\n}\n\n// Cache\nlet _departments = null, _employees = null;\nasync function getDepartments() { if (!_departments) { const r = await tx('GET', '/department?from=0&count=100'); _departments = (r.ok && r.data && r.data.values) ? r.data.values : []; } return _departments; }\nasync function getEmployees() { if (!_employees) { const r = await tx('GET', '/employee?from=0&count=100&fields=id,firstName,lastName,email,department'); _employees = (r.ok && r.data && r.data.values) ? r.data.values : []; } return _employees; }\nasync function getDefaultDeptId() { const d = await getDepartments(); return d.length > 0 ? d[0].id : null; }\nasync function getFirstEmployeeId() { const e = await getEmployees(); return e.length > 0 ? e[0].id : null; }\nasync function findEmployee(firstName, lastName) { const emps = await getEmployees(); return emps.find(e => (!firstName || (e.firstName||'').toLowerCase() === firstName.toLowerCase()) && (!lastName || (e.lastName||'').toLowerCase() === lastName.toLowerCase())) || null; }\nasync function findDeptByName(name) { if (!name) return null; const depts = await getDepartments(); return depts.find(d => d.name && d.name.toLowerCase().includes(name.toLowerCase())) || null; }\n\nlet _bankSetupDone = false;\nasync function ensureBankAccount() {\n  if (_bankSetupDone) return; _bankSetupDone = true;\n  try { const ba = await tx('GET', '/ledger/account?number=1920&from=0&count=1&fields=id,bankAccountNumber'); if (ba.ok && ba.data && ba.data.values && ba.data.values.length > 0) { const a = ba.data.values[0]; if (!a.bankAccountNumber) { const f = await tx('GET', '/ledger/account/' + a.id); if (f.ok) { f.data.value.bankAccountNumber = '86010517941'; await tx('PUT', '/ledger/account/' + a.id, f.data.value); } } } } catch(e) {}\n}\n\nfunction getOutgoingVatId(pct) { const t = pct != null ? Number(pct) : 25; return { 25: 3, 15: 31, 12: 32, 0: 6 }[t] || 3; }\n\nlet results = [], success = false;\n// === END SHARED UTILITIES ===\n\n\n// === T4_Project HANDLER ===\nfor (const p of paramsList) {\ntry {\n  switch (task_type) {\n    case 'project_invoice': {\n      // T2 multi-step: customer → employee → project → activity → timesheet → order → invoice\n      await ensureBankAccount();\n      const today = new Date().toISOString().split('T')[0];\n\n      // 1. Customer\n      let piCustId;\n      if (p.customerName) {\n        const cs = await tx('GET', '/customer?name=' + encodeURIComponent(p.customerName) + '&from=0&count=5');\n        if (cs.ok && cs.data && cs.data.values && cs.data.values.length > 0) {\n          piCustId = cs.data.values[0].id;\n        } else {\n          const cb = { name: p.customerName, isCustomer: true };\n          if (p.customerOrgNumber) cb.organizationNumber = String(p.customerOrgNumber);\n          const nc = await tx('POST', '/customer', cb);\n          results.push({ step: 'create_customer', ...nc });\n          if (nc.ok) piCustId = nc.data.value.id;\n        }\n      }\n      if (!piCustId) { results.push({ error: 'No customer for project invoice' }); break; }\n\n      // 2. Employee (the person logging hours)\n      let piEmpId;\n      const piFirst = p.employeeFirstName || '';\n      const piLast = p.employeeLastName || '';\n      if (piFirst || piLast) {\n        const existingEmp = await findEmployee(piFirst, piLast);\n        if (existingEmp) {\n          piEmpId = existingEmp.id;\n        } else {\n          const eb = { firstName: piFirst, lastName: piLast, userType: 'NO_ACCESS' };\n          if (p.employeeEmail) { eb.email = p.employeeEmail; eb.userType = 'STANDARD'; }\n          const did = await getDefaultDeptId();\n          if (did) eb.department = { id: did };\n          const ne = await tx('POST', '/employee', eb);\n          results.push({ step: 'create_employee', ...ne });\n          if (ne.ok) {\n            piEmpId = ne.data.value.id;\n            await tx('PUT', '/employee/entitlement/:grantEntitlementsByTemplate?employeeId=' + piEmpId + '&template=ALL_PRIVILEGES', {});\n          }\n        }\n      }\n      if (!piEmpId) piEmpId = await getFirstEmployeeId();\n\n      // 3. Project\n      const projBody = {\n        name: p.projectName || p.name || 'Project',\n        isInternal: false,\n        customer: { id: piCustId },\n        projectManager: { id: piEmpId },\n        startDate: today\n      };\n      const proj = await tx('POST', '/project', projBody);\n      results.push({ step: 'create_project', ...proj });\n      const piProjId = proj.ok ? proj.data.value.id : null;\n      if (!piProjId) break;\n\n      // 4. Activity (create or find)\n      const actName = p.activityName || p.description || 'Work';\n      let piActId;\n      const existingActs = await tx('GET', '/activity?from=0&count=50');\n      if (existingActs.ok && existingActs.data && existingActs.data.values) {\n        const match = existingActs.data.values.find(a => a.name.toLowerCase() === actName.toLowerCase() && a.isProjectActivity);\n        if (match) piActId = match.id;\n      }\n      if (!piActId) {\n        const newAct = await tx('POST', '/activity', { name: actName, activityType: 'PROJECT_GENERAL_ACTIVITY' });\n        results.push({ step: 'create_activity', ...newAct });\n        if (newAct.ok) piActId = newAct.data.value.id;\n      }\n\n      // 5. Link activity to project\n      if (piActId) {\n        const link = await tx('POST', '/project/projectActivity', { project: { id: piProjId }, activity: { id: piActId } });\n        results.push({ step: 'link_activity', ok: link.ok, status: link.status });\n      }\n\n      // 6. Timesheet entry\n      const hours = Number(p.hours || 0);\n      const hourlyRate = Number(p.hourlyRate || 0);\n      if (hours > 0 && piActId) {\n        const tsEntry = await tx('POST', '/timesheet/entry', {\n          employee: { id: piEmpId },\n          project: { id: piProjId },\n          activity: { id: piActId },\n          date: today,\n          hours: hours\n        });\n        results.push({ step: 'timesheet', ...tsEntry });\n      }\n\n      // 7. Set hourly rate on project\n      if (hourlyRate > 0) {\n        // Try project-level hourly rates\n        const rates = await tx('GET', '/project/hourlyRates?projectId=' + piProjId + '&from=0&count=5');\n        if (rates.ok && rates.data && rates.data.values && rates.data.values.length > 0) {\n          const rate = rates.data.values[0];\n          rate.fixedRate = hourlyRate;\n          const rateUpd = await tx('PUT', '/project/hourlyRates/' + rate.id, rate);\n          results.push({ step: 'set_hourly_rate', ok: rateUpd.ok });\n        } else {\n          // Create hourly rate entry\n          const newRate = await tx('POST', '/project/hourlyRates', {\n            project: { id: piProjId },\n            startDate: today,\n            fixedRate: hourlyRate\n          });\n          results.push({ step: 'create_hourly_rate', ok: newRate.ok });\n        }\n      }\n\n      // 8. Order + Invoice (use order-to-invoice conversion)\n      const totalAmount = hours > 0 && hourlyRate > 0 ? hours * hourlyRate : (Number(p.amount || p.fixedPrice || 0));\n      // Create product for invoice line\n      const piProdName = (actName || 'Consulting') + (hours > 0 ? ' - ' + hours + 'h' : '');\n      const piProd = await tx('POST', '/product', {\n        name: piProdName,\n        priceExcludingVatCurrency: hourlyRate || totalAmount || 0,\n        vatType: { id: 3 }\n      });\n      let piProdId = piProd.ok ? piProd.data.value.id : null;\n      if (!piProdId) {\n        const ps = await tx('GET', '/product?name=' + encodeURIComponent(piProdName) + '&from=0&count=1');\n        if (ps.ok && ps.data && ps.data.values && ps.data.values.length > 0) piProdId = ps.data.values[0].id;\n      }\n\n      const oLines = [{\n        product: piProdId ? { id: piProdId } : undefined,\n        description: piProdName,\n        count: hours || 1,\n        unitPriceExcludingVatCurrency: hourlyRate || totalAmount || 0\n      }];\n      const order = await tx('POST', '/order', {\n        customer: { id: piCustId }, orderDate: today, deliveryDate: today,\n        project: { id: piProjId }, orderLines: oLines\n      });\n      results.push({ step: 'create_order', ...order });\n\n      if (order.ok) {\n        const ordId = order.data.value.id;\n        // Convert order to invoice (more reliable than POST /invoice)\n        const inv = await tx('PUT', '/order/' + ordId + '/:invoice', {});\n        results.push({ step: 'create_invoice', ...inv });\n        success = inv.ok;\n      }\n      break;\n    }\n\n    case 'create_project': {\n      // Find or create customer if linked\n      let pcId;\n      if (p.customerName) {\n        const cs = await tx('GET', '/customer?name=' + encodeURIComponent(p.customerName) + '&from=0&count=3');\n        if (cs.ok && cs.data && cs.data.values && cs.data.values.length > 0) {\n          pcId = cs.data.values[0].id;\n        } else {\n          const custBody = { name: p.customerName, isCustomer: true };\n          if (p.customerOrgNumber) custBody.organizationNumber = String(p.customerOrgNumber);\n          const nc = await tx('POST', '/customer', custBody);\n          results.push({ step: 'create_customer', ...nc });\n          if (nc.ok) pcId = nc.data.value.id;\n        }\n      }\n\n      // Find or create project manager if specified\n      let pmId = await getFirstEmployeeId();\n      if (p.projectManagerFirstName || p.projectManagerLastName || p.projectManagerEmail) {\n        const pmFirst = p.projectManagerFirstName || '';\n        const pmLast = p.projectManagerLastName || '';\n        // Try to find existing employee\n        const existingPm = await findEmployee(pmFirst, pmLast);\n        if (existingPm) {\n          pmId = existingPm.id;\n          // Always grant entitlements — PM needs project manager access\n          await tx('PUT', '/employee/entitlement/:grantEntitlementsByTemplate?employeeId=' + pmId + '&template=ALL_PRIVILEGES', {});\n        } else {\n          // Create employee as project manager\n          const pmBody = { userType: 'NO_ACCESS' };\n          if (pmFirst) pmBody.firstName = pmFirst;\n          if (pmLast) pmBody.lastName = pmLast;\n          if (p.projectManagerEmail) { pmBody.email = p.projectManagerEmail; pmBody.userType = 'STANDARD'; }\n          const ddi = await getDefaultDeptId(); if (ddi) pmBody.department = { id: ddi };\n          const pmRes = await tx('POST', '/employee', pmBody);\n          results.push({ step: 'create_pm', ...pmRes });\n          if (pmRes.ok) {\n            pmId = pmRes.data.value.id;\n            // Grant entitlements\n            await tx('PUT', '/employee/entitlement/:grantEntitlementsByTemplate?employeeId=' + pmId + '&template=ALL_PRIVILEGES', {});\n          }\n        }\n      }\n\n      const b = { name: p.name || '' };\n      b.isInternal = pcId ? false : (p.isInternal !== false);\n      if (p.number || p.projectNumber) b.number = String(p.number || p.projectNumber);\n      if (pcId) b.customer = { id: pcId };\n      b.startDate = p.startDate || new Date().toISOString().split('T')[0];\n      if (p.endDate) b.endDate = p.endDate;\n      if (pmId) b.projectManager = { id: pmId };\n      const r = await tx('POST', '/project', b);\n      results.push(r); success = r.ok;\n      break;\n    }\n    default: break;\n  }\n} catch(e) { results.push({ error: e.message }); }\n}\n\nreturn [{ json: { status: 'completed', _debug: { task_type, success, results, group: 'T4_Project' } } }];\n",
        "mode": "runOnceForAllItems"
      }
    },
    {
      "id": "r4",
      "name": "Respond T4_Project",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2220,
        700
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      }
    },
    {
      "id": "h5",
      "name": "T5_Expense Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1980,
        900
      ],
      "parameters": {
        "jsCode": "// === SHARED UTILITIES (included at top of every handler node) ===\nconst items = $input.all();\nconst d = items[0].json;\nconst task = d.task || '';\nconst base_url = d.base_url || '';\nconst session_token = d.session_token || '';\nconst task_type = d.task_type || '';\nconst fileContext = d.fileContext || '';\nconst pdfFiles = d.pdfFiles || [];\n\nconst authHeader = 'Basic ' + Buffer.from('0:' + session_token).toString('base64');\nconst apiBase = base_url.replace(/\\/+$/, '');\nconst GEMINI_KEY = 'AIzaSyC_ya1fW-hpajZyb8osz35Y4znS9cx_h4g';\n\n// Multi-entity support\nconst entities = d.entities || null;\nconst paramsList = entities && entities.length > 0\n  ? entities.map(e => ({ ...(d.extracted_params || {}), ...e }))\n  : [d.extracted_params || {}];\n\n// === HTTP helper ===\nconst FIELD_FIXES = { 'unitPrice': 'unitPriceExcludingVatCurrency', 'unitCostCurrency': 'unitPriceExcludingVatCurrency', 'price': 'priceExcludingVatCurrency' };\nfunction sanitizeBody(endpoint, body) {\n  if (!body || typeof body !== 'object') return body;\n  const b = JSON.parse(JSON.stringify(body));\n  if (b.orderLines) { b.orderLines = b.orderLines.map(ol => { for (const [k, v] of Object.entries(FIELD_FIXES)) { if (ol[k] && !ol[v]) { ol[v] = ol[k]; delete ol[k]; } } return ol; }); }\n  if (endpoint && endpoint.includes('/invoice') && !b.invoiceDate) { b.invoiceDate = new Date().toISOString().split('T')[0]; if (!b.invoiceDueDate) b.invoiceDueDate = b.invoiceDate; }\n  if (b.postings) { b.postings = b.postings.map((p, i) => { p.row = p.row || i + 1; if (!p.date) p.date = b.date || new Date().toISOString().split('T')[0]; if (p.amountGrossCurrency === undefined) p.amountGrossCurrency = p.amountGross; return p; }); }\n  return b;\n}\n\nasync function tx(method, endpoint, reqBody) {\n  const url = apiBase + endpoint;\n  const sanitized = (method !== 'GET') ? sanitizeBody(endpoint, reqBody) : reqBody;\n  const opts = { method, url, headers: { 'Authorization': authHeader, 'Content-Type': 'application/json' }, returnFullResponse: true, ignoreHttpStatusErrors: true, json: true };\n  if (sanitized && method !== 'GET') opts.body = typeof sanitized === 'string' ? JSON.parse(sanitized) : sanitized;\n  try {\n    const r = await this.helpers.httpRequest(opts);\n    return { ok: r.statusCode >= 200 && r.statusCode < 300, status: r.statusCode, data: r.body };\n  } catch (e) {\n    let ed; try { ed = typeof e.body === 'string' ? JSON.parse(e.body) : (e.body || e.message); } catch (_) { ed = e.message; }\n    return { ok: false, error: ed, status: e.statusCode || 0, data: ed };\n  }\n}\n\nasync function callGemini(prompt, pdfs) {\n  try {\n    const parts = [{ text: prompt }];\n    if (pdfs && pdfs.length > 0) { for (const f of pdfs) { if (f.content_base64) parts.push({ inline_data: { mime_type: 'application/pdf', data: f.content_base64 } }); } }\n    const r = await this.helpers.httpRequest({\n      method: 'POST', url: 'https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key=' + GEMINI_KEY,\n      body: { contents: [{ parts }], generationConfig: { temperature: 0, topK: 1, topP: 0.1, maxOutputTokens: 4096, responseMimeType: 'application/json' }, safetySettings: [{ category: 'HARM_CATEGORY_HARASSMENT', threshold: 'BLOCK_NONE' }, { category: 'HARM_CATEGORY_HATE_SPEECH', threshold: 'BLOCK_NONE' }, { category: 'HARM_CATEGORY_SEXUALLY_EXPLICIT', threshold: 'BLOCK_NONE' }, { category: 'HARM_CATEGORY_DANGEROUS_CONTENT', threshold: 'BLOCK_NONE' }] },\n      headers: { 'Content-Type': 'application/json' }, json: true\n    });\n    const raw = r.candidates[0].content.parts.find(p => p.text)?.text || '{}';\n    try { return JSON.parse(raw); } catch(e) {\n      const m = raw.match(/```(?:json)?\\s*([\\s\\S]*?)```/); if (m) try { return JSON.parse(m[1].trim()); } catch(_) {}\n      const idx = raw.search(/[{[]/); if (idx >= 0) try { return JSON.parse(raw.substring(idx)); } catch(_) {}\n      return {};\n    }\n  } catch(e) { return {}; }\n}\n\n// Cache\nlet _departments = null, _employees = null;\nasync function getDepartments() { if (!_departments) { const r = await tx('GET', '/department?from=0&count=100'); _departments = (r.ok && r.data && r.data.values) ? r.data.values : []; } return _departments; }\nasync function getEmployees() { if (!_employees) { const r = await tx('GET', '/employee?from=0&count=100&fields=id,firstName,lastName,email,department'); _employees = (r.ok && r.data && r.data.values) ? r.data.values : []; } return _employees; }\nasync function getDefaultDeptId() { const d = await getDepartments(); return d.length > 0 ? d[0].id : null; }\nasync function getFirstEmployeeId() { const e = await getEmployees(); return e.length > 0 ? e[0].id : null; }\nasync function findEmployee(firstName, lastName) { const emps = await getEmployees(); return emps.find(e => (!firstName || (e.firstName||'').toLowerCase() === firstName.toLowerCase()) && (!lastName || (e.lastName||'').toLowerCase() === lastName.toLowerCase())) || null; }\nasync function findDeptByName(name) { if (!name) return null; const depts = await getDepartments(); return depts.find(d => d.name && d.name.toLowerCase().includes(name.toLowerCase())) || null; }\n\nlet _bankSetupDone = false;\nasync function ensureBankAccount() {\n  if (_bankSetupDone) return; _bankSetupDone = true;\n  try { const ba = await tx('GET', '/ledger/account?number=1920&from=0&count=1&fields=id,bankAccountNumber'); if (ba.ok && ba.data && ba.data.values && ba.data.values.length > 0) { const a = ba.data.values[0]; if (!a.bankAccountNumber) { const f = await tx('GET', '/ledger/account/' + a.id); if (f.ok) { f.data.value.bankAccountNumber = '86010517941'; await tx('PUT', '/ledger/account/' + a.id, f.data.value); } } } } catch(e) {}\n}\n\nfunction getOutgoingVatId(pct) { const t = pct != null ? Number(pct) : 25; return { 25: 3, 15: 31, 12: 32, 0: 6 }[t] || 3; }\n\nlet results = [], success = false;\n// === END SHARED UTILITIES ===\n\n\n// === T5_Expense HANDLER ===\nfor (const p of paramsList) {\ntry {\n  switch (task_type) {\n    case 'create_travel_expense': {\n      // Create employee if specified and not found\n      let eId;\n      if (p.employeeName) {\n        const parts = p.employeeName.split(' ');\n        const emp = await findEmployee(parts[0], parts.length > 1 ? parts.slice(1).join(' ') : null);\n        if (emp) eId = emp.id;\n        if (!eId && p.employeeEmail) {\n          const newEmp = await tx('POST', '/employee', {\n            firstName: parts[0] || 'Employee', lastName: parts.slice(1).join(' ') || 'Travel',\n            email: p.employeeEmail, userType: 'STANDARD',\n            department: { id: (await getDefaultDeptId()) || 0 }\n          });\n          if (newEmp.ok) {\n            eId = newEmp.data.value.id;\n            results.push({ step: 'create_employee', ...newEmp });\n            await tx('PUT', '/employee/entitlement/:grantEntitlementsByTemplate?employeeId=' + eId + '&template=ALL_PRIVILEGES', {});\n          }\n        }\n      }\n      if (!eId) eId = await getFirstEmployeeId();\n      const today = new Date().toISOString().split('T')[0];\n      const depDate = p.departureDate || p.startDate || today;\n      const retDate = p.returnDate || p.endDate || depDate;\n      const r = await tx('POST', '/travelExpense', {\n        employee: { id: eId },\n        title: p.title || p.description || p.purpose || 'Travel Expense',\n        travelDetails: {\n          departureDate: depDate,\n          returnDate: retDate,\n          destination: p.destination || ''\n        }\n      });\n      results.push(r); success = r.ok;\n      // Add costs (flights, taxi, etc.) if specified\n      if (r.ok && p.costs && p.costs.length > 0) {\n        const teId = r.data.value.id;\n        // Cost category mapping (name → id, based on sandbox data)\n        const COST_CATS = {\n          'fly': 34000208, 'flight': 34000208, 'flug': 34000208, 'vol': 34000208, 'avion': 34000208, 'voo': 34000208,\n          'taxi': 34000222, 'drosje': 34000222,\n          'hotell': 34000211, 'hotel': 34000211, 'hôtel': 34000211,\n          'buss': 34000202, 'bus': 34000202,\n          'tog': 34000210, 'train': 34000210, 'zug': 34000210,\n          'parkering': 34000218, 'parking': 34000218,\n          'mat': 34000216, 'food': 34000216, 'meal': 34000216,\n          'ferge': 34000207, 'ferry': 34000207,\n          'leiebil': 34000214, 'rental car': 34000214, 'mietwagen': 34000214,\n        };\n        // Fetch actual categories to find best match\n        let costCats = null;\n        // ALWAYS fetch costCategories from API (IDs differ between sandbox and competition)\n        if (!costCats) {\n          const cc = await tx('GET', '/travelExpense/costCategory?from=0&count=50');\n          costCats = (cc.ok && cc.data && cc.data.values) ? cc.data.values : [];\n        }\n        for (const cost of p.costs) {\n          const costDesc = (cost.description || cost.name || '').toLowerCase();\n          let catId = null;\n          // Match by description keywords against actual categories\n          const KEYWORDS = {\n            'fly': ['fly', 'flight', 'flug', 'vol', 'avion', 'voo', 'billete de avión'],\n            'taxi': ['taxi', 'drosje'],\n            'hotell': ['hotell', 'hotel', 'hôtel'],\n            'buss': ['buss', 'bus'],\n            'tog': ['tog', 'train', 'zug', 'tren'],\n            'parkering': ['parkering', 'parking'],\n            'mat': ['mat', 'food', 'meal', 'comida'],\n            'ferge': ['ferge', 'ferry'],\n            'leiebil': ['leiebil', 'rental', 'mietwagen', 'alquiler'],\n          };\n          for (const [catKey, keywords] of Object.entries(KEYWORDS)) {\n            if (keywords.some(kw => costDesc.includes(kw))) {\n              const match = costCats.find(c => (c.description || '').toLowerCase().includes(catKey));\n              if (match) { catId = match.id; break; }\n            }\n          }\n          // Direct match on category description\n          if (!catId) {\n            const match = costCats.find(c => costDesc.includes((c.description || '').toLowerCase()) || (c.description || '').toLowerCase().includes(costDesc));\n            if (match) catId = match.id;\n          }\n          // Fallback: first travel-related category\n          if (!catId && costCats.length > 0) {\n            catId = costCats.find(c => (c.description || '').toLowerCase().includes('reise'))?.id || costCats[0].id;\n          }\n          if (catId) {\n            const cr = await tx('POST', '/travelExpense/cost', {\n              travelExpense: { id: teId },\n              costCategory: { id: catId },\n              paymentType: { id: 0 },\n              amountCurrencyIncVat: Number(cost.amount || 0),\n              comments: cost.description || ''\n            });\n            results.push({ step: 'add_cost', ...cr });\n          }\n        }\n      }\n      // Add per diem compensation if specified\n      if (r.ok && p.perDiem) {\n        const teId = r.data.value.id;\n        const pd = await tx('POST', '/travelExpense/perDiemCompensation', {\n          travelExpense: { id: teId },\n          overnightAccommodation: p.perDiem.accommodation || 'HOTEL',\n          location: p.perDiem.location || p.destination || 'Norway',\n          count: p.perDiem.days || p.perDiem.count || 1\n        });\n        results.push({ step: 'add_per_diem', ...pd });\n      }\n      break;\n    }\n\n    case 'payroll_voucher': {\n      // T2: Create employee + payroll voucher with employee reference in postings\n      const today = new Date().toISOString().split('T')[0];\n\n      // 1. Create employee\n      let prEmpId;\n      let prFirst = p.employeeFirstName || '';\n      let prLast = p.employeeLastName || '';\n      // Fallback: parse employeeName if firstName/lastName not extracted\n      if (!prFirst && p.employeeName) {\n        const nameParts = p.employeeName.split(' ');\n        prFirst = nameParts[0] || '';\n        prLast = nameParts.slice(1).join(' ') || '';\n      }\n      if (prFirst || prLast) {\n        const existingEmp = await findEmployee(prFirst, prLast);\n        if (existingEmp) {\n          prEmpId = existingEmp.id;\n        } else {\n          const eb = { firstName: prFirst, lastName: prLast, userType: 'NO_ACCESS' };\n          if (p.employeeEmail) { eb.email = p.employeeEmail; eb.userType = 'STANDARD'; }\n          const did = await getDefaultDeptId();\n          if (did) eb.department = { id: did };\n          const ne = await tx('POST', '/employee', eb);\n          results.push({ step: 'create_employee', ...ne });\n          if (ne.ok) {\n            prEmpId = ne.data.value.id;\n            await tx('PUT', '/employee/entitlement/:grantEntitlementsByTemplate?employeeId=' + prEmpId + '&template=ALL_PRIVILEGES', {});\n          }\n        }\n      }\n      if (!prEmpId) prEmpId = await getFirstEmployeeId();\n\n      // 2. Build voucher postings from salary items\n      let postings = [];\n      let totalExpense = 0;\n      const items = p.salaryItems || [];\n\n      if (items.length > 0) {\n        for (let i = 0; i < items.length; i++) {\n          const item = items[i];\n          const amount = Number(item.amount || 0);\n          totalExpense += amount;\n          let accountId;\n          const acctNum = item.accountNumber || 5000;\n          const acctResp = await tx('GET', '/ledger/account?number=' + acctNum + '&from=0&count=1');\n          if (acctResp.ok && acctResp.data && acctResp.data.values && acctResp.data.values.length > 0) {\n            accountId = acctResp.data.values[0].id;\n          }\n          if (accountId) {\n            postings.push({\n              row: i + 1, date: today,\n              account: { id: accountId },\n              employee: { id: prEmpId },\n              amountGross: amount, amountGrossCurrency: amount,\n              description: item.description || 'Salary'\n            });\n          }\n        }\n      } else {\n        // Fallback: use Gemini to determine salary breakdown\n        const salaryPlan = await callGemini('Parse this payroll task into salary line items. Do NOT include arbeidsgiveravgift — it is calculated automatically at 14.1%.\\nCommon Norwegian payroll accounts: 5000=Lønn til ansatte (base salary), 5001=Overtid (overtime), 5090=Påløpt lønn, 5200=Fri bil, 5420=Pensjonskostnad, 5900=Gave til ansatte, 5990=Annen personalkostnad\\nBonus/tillegg/godtgjørelse should use 5000 unless specified.\\nTask: ' + task + '\\nReturn: {\"items\": [{\"description\": \"Salary\", \"amount\": 50000, \"accountNumber\": 5000}]}', []);\n        if (salaryPlan.items) {\n          for (let i = 0; i < salaryPlan.items.length; i++) {\n            const item = salaryPlan.items[i];\n            const amount = Number(item.amount || 0);\n            totalExpense += amount;\n            const acctResp = await tx('GET', '/ledger/account?number=' + (item.accountNumber || 5000) + '&from=0&count=1');\n            if (acctResp.ok && acctResp.data && acctResp.data.values && acctResp.data.values.length > 0) {\n              postings.push({\n                row: i + 1, date: today,\n                account: { id: acctResp.data.values[0].id },\n                employee: { id: prEmpId },\n                amountGross: amount, amountGrossCurrency: amount,\n                description: item.description || 'Salary'\n              });\n            }\n          }\n        }\n      }\n\n      // Add arbeidsgiveravgift (employer's social security contribution ~14.1%)\n      if (totalExpense > 0) {\n        const avgiftAmount = Math.round(totalExpense * 0.141);\n        const avgiftAcct = await tx('GET', '/ledger/account?number=5400&from=0&count=1');\n        const skyldAvgiftAcct = await tx('GET', '/ledger/account?number=2770&from=0&count=1');\n        if (avgiftAcct.ok && avgiftAcct.data?.values?.length > 0 && skyldAvgiftAcct.ok && skyldAvgiftAcct.data?.values?.length > 0) {\n          postings.push({\n            row: postings.length + 1, date: today,\n            account: { id: avgiftAcct.data.values[0].id },\n            amountGross: avgiftAmount, amountGrossCurrency: avgiftAmount,\n            description: 'Arbeidsgiveravgift 14.1%'\n          });\n          postings.push({\n            row: postings.length + 1, date: today,\n            account: { id: skyldAvgiftAcct.data.values[0].id },\n            amountGross: -avgiftAmount, amountGrossCurrency: -avgiftAmount,\n            description: 'Skyldig arbeidsgiveravgift'\n          });\n        }\n      }\n\n      // Add credit posting (bank) for salary payment\n      if (totalExpense > 0) {\n        const bankAcct = await tx('GET', '/ledger/account?number=1920&from=0&count=1');\n        if (bankAcct.ok && bankAcct.data && bankAcct.data.values && bankAcct.data.values.length > 0) {\n          postings.push({\n            row: postings.length + 1, date: today,\n            account: { id: bankAcct.data.values[0].id },\n            amountGross: -totalExpense, amountGrossCurrency: -totalExpense,\n            description: 'Bank payment - payroll'\n          });\n        }\n      }\n\n      if (postings.length > 0) {\n        const r = await tx('POST', '/ledger/voucher', {\n          date: today,\n          description: 'Payroll - ' + (prFirst + ' ' + prLast).trim(),\n          postings\n        });\n        results.push(r); success = r.ok;\n      } else results.push({ error: 'Could not build payroll postings' });\n      break;\n    }\n    default: break;\n  }\n} catch(e) { results.push({ error: e.message }); }\n}\n\nreturn [{ json: { status: 'completed', _debug: { task_type, success, results, group: 'T5_Expense' } } }];\n",
        "mode": "runOnceForAllItems"
      }
    },
    {
      "id": "r5",
      "name": "Respond T5_Expense",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2220,
        900
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      }
    },
    {
      "id": "h6",
      "name": "T6_Accounting Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1980,
        1100
      ],
      "parameters": {
        "jsCode": "// === SHARED UTILITIES (included at top of every handler node) ===\nconst items = $input.all();\nconst d = items[0].json;\nconst task = d.task || '';\nconst base_url = d.base_url || '';\nconst session_token = d.session_token || '';\nconst task_type = d.task_type || '';\nconst fileContext = d.fileContext || '';\nconst pdfFiles = d.pdfFiles || [];\n\nconst authHeader = 'Basic ' + Buffer.from('0:' + session_token).toString('base64');\nconst apiBase = base_url.replace(/\\/+$/, '');\nconst GEMINI_KEY = 'AIzaSyC_ya1fW-hpajZyb8osz35Y4znS9cx_h4g';\n\n// Multi-entity support\nconst entities = d.entities || null;\nconst paramsList = entities && entities.length > 0\n  ? entities.map(e => ({ ...(d.extracted_params || {}), ...e }))\n  : [d.extracted_params || {}];\n\n// === HTTP helper ===\nconst FIELD_FIXES = { 'unitPrice': 'unitPriceExcludingVatCurrency', 'unitCostCurrency': 'unitPriceExcludingVatCurrency', 'price': 'priceExcludingVatCurrency' };\nfunction sanitizeBody(endpoint, body) {\n  if (!body || typeof body !== 'object') return body;\n  const b = JSON.parse(JSON.stringify(body));\n  if (b.orderLines) { b.orderLines = b.orderLines.map(ol => { for (const [k, v] of Object.entries(FIELD_FIXES)) { if (ol[k] && !ol[v]) { ol[v] = ol[k]; delete ol[k]; } } return ol; }); }\n  if (endpoint && endpoint.includes('/invoice') && !b.invoiceDate) { b.invoiceDate = new Date().toISOString().split('T')[0]; if (!b.invoiceDueDate) b.invoiceDueDate = b.invoiceDate; }\n  if (b.postings) { b.postings = b.postings.map((p, i) => { p.row = p.row || i + 1; if (!p.date) p.date = b.date || new Date().toISOString().split('T')[0]; if (p.amountGrossCurrency === undefined) p.amountGrossCurrency = p.amountGross; return p; }); }\n  return b;\n}\n\nasync function tx(method, endpoint, reqBody) {\n  const url = apiBase + endpoint;\n  const sanitized = (method !== 'GET') ? sanitizeBody(endpoint, reqBody) : reqBody;\n  const opts = { method, url, headers: { 'Authorization': authHeader, 'Content-Type': 'application/json' }, returnFullResponse: true, ignoreHttpStatusErrors: true, json: true };\n  if (sanitized && method !== 'GET') opts.body = typeof sanitized === 'string' ? JSON.parse(sanitized) : sanitized;\n  try {\n    const r = await this.helpers.httpRequest(opts);\n    return { ok: r.statusCode >= 200 && r.statusCode < 300, status: r.statusCode, data: r.body };\n  } catch (e) {\n    let ed; try { ed = typeof e.body === 'string' ? JSON.parse(e.body) : (e.body || e.message); } catch (_) { ed = e.message; }\n    return { ok: false, error: ed, status: e.statusCode || 0, data: ed };\n  }\n}\n\nasync function callGemini(prompt, pdfs) {\n  try {\n    const parts = [{ text: prompt }];\n    if (pdfs && pdfs.length > 0) { for (const f of pdfs) { if (f.content_base64) parts.push({ inline_data: { mime_type: 'application/pdf', data: f.content_base64 } }); } }\n    const r = await this.helpers.httpRequest({\n      method: 'POST', url: 'https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key=' + GEMINI_KEY,\n      body: { contents: [{ parts }], generationConfig: { temperature: 0, topK: 1, topP: 0.1, maxOutputTokens: 4096, responseMimeType: 'application/json' }, safetySettings: [{ category: 'HARM_CATEGORY_HARASSMENT', threshold: 'BLOCK_NONE' }, { category: 'HARM_CATEGORY_HATE_SPEECH', threshold: 'BLOCK_NONE' }, { category: 'HARM_CATEGORY_SEXUALLY_EXPLICIT', threshold: 'BLOCK_NONE' }, { category: 'HARM_CATEGORY_DANGEROUS_CONTENT', threshold: 'BLOCK_NONE' }] },\n      headers: { 'Content-Type': 'application/json' }, json: true\n    });\n    const raw = r.candidates[0].content.parts.find(p => p.text)?.text || '{}';\n    try { return JSON.parse(raw); } catch(e) {\n      const m = raw.match(/```(?:json)?\\s*([\\s\\S]*?)```/); if (m) try { return JSON.parse(m[1].trim()); } catch(_) {}\n      const idx = raw.search(/[{[]/); if (idx >= 0) try { return JSON.parse(raw.substring(idx)); } catch(_) {}\n      return {};\n    }\n  } catch(e) { return {}; }\n}\n\n// Cache\nlet _departments = null, _employees = null;\nasync function getDepartments() { if (!_departments) { const r = await tx('GET', '/department?from=0&count=100'); _departments = (r.ok && r.data && r.data.values) ? r.data.values : []; } return _departments; }\nasync function getEmployees() { if (!_employees) { const r = await tx('GET', '/employee?from=0&count=100&fields=id,firstName,lastName,email,department'); _employees = (r.ok && r.data && r.data.values) ? r.data.values : []; } return _employees; }\nasync function getDefaultDeptId() { const d = await getDepartments(); return d.length > 0 ? d[0].id : null; }\nasync function getFirstEmployeeId() { const e = await getEmployees(); return e.length > 0 ? e[0].id : null; }\nasync function findEmployee(firstName, lastName) { const emps = await getEmployees(); return emps.find(e => (!firstName || (e.firstName||'').toLowerCase() === firstName.toLowerCase()) && (!lastName || (e.lastName||'').toLowerCase() === lastName.toLowerCase())) || null; }\nasync function findDeptByName(name) { if (!name) return null; const depts = await getDepartments(); return depts.find(d => d.name && d.name.toLowerCase().includes(name.toLowerCase())) || null; }\n\nlet _bankSetupDone = false;\nasync function ensureBankAccount() {\n  if (_bankSetupDone) return; _bankSetupDone = true;\n  try { const ba = await tx('GET', '/ledger/account?number=1920&from=0&count=1&fields=id,bankAccountNumber'); if (ba.ok && ba.data && ba.data.values && ba.data.values.length > 0) { const a = ba.data.values[0]; if (!a.bankAccountNumber) { const f = await tx('GET', '/ledger/account/' + a.id); if (f.ok) { f.data.value.bankAccountNumber = '86010517941'; await tx('PUT', '/ledger/account/' + a.id, f.data.value); } } } } catch(e) {}\n}\n\nfunction getOutgoingVatId(pct) { const t = pct != null ? Number(pct) : 25; return { 25: 3, 15: 31, 12: 32, 0: 6 }[t] || 3; }\n\nlet results = [], success = false;\n// === END SHARED UTILITIES ===\n\n\n// === T6_Accounting HANDLER ===\nfor (const p of paramsList) {\ntry {\n  switch (task_type) {\n    case 'create_voucher': {\n      const today = new Date().toISOString().split('T')[0];\n      let vDate = String(p.date || today);\n      if (!/^\\d{4}-\\d{2}-\\d{2}$/.test(vDate)) vDate = today;\n      // Account number → locked vatType ID mapping (verified from sandbox GET /ledger/account)\n      function guessVatForAccount(acctNumber) {\n        const n = Number(acctNumber);\n        // Specific overrides (verified locked values)\n        if (n === 3000 || n === 3080) return 3;   // Salgsinntekt 25% outgoing\n        if (n === 3001) return 31;                  // Salgsinntekt 15% outgoing\n        if (n === 3002) return 32;                  // Salgsinntekt 12% outgoing\n        if (n === 3100 || n === 3160 || n === 3180) return 5; // Salgsinntekt avgiftsfri\n        if (n === 3200 || n === 3260 || n === 3280) return 6; // Utenfor mva-loven\n        // Ranges based on typical locked values\n        if (n >= 1000 && n < 2000) return 0;        // Assets: mostly 0\n        if (n >= 2000 && n < 3000) return 0;        // Liabilities: 0\n        if (n >= 3000 && n < 3100) return 3;        // Sales 25%\n        if (n >= 3100 && n < 3200) return 5;        // Sales 0%\n        if (n >= 3200 && n < 4000) return 0;        // Other income: mostly 0\n        if (n >= 4000 && n < 4100) return 1;        // Purchases: 25% ingoing\n        if (n >= 4100 && n < 5000) return 1;        // Other purchases: mostly 1\n        if (n >= 5000 && n < 6000) return 0;        // Salary/Personnel: ALWAYS 0\n        if (n >= 6000 && n < 6100) return 0;        // Depreciation: 0\n        if (n === 6300) return 0;                    // Leie lokale: locked 0!\n        if (n >= 6100 && n < 7000) return 1;        // Other operating: mostly 1\n        if (n >= 7000 && n < 7040) return 1;        // Transport owned (fuel/maint): 1\n        if (n === 7040 || n === 7080) return 0;      // Insurance/private car: 0\n        if (n >= 7100 && n < 7200) return 0;        // Reimbursement: mostly 0!\n        if (n >= 7200 && n < 7300) return 1;        // Leased transport: 1\n        if (n >= 7300 && n < 7350) return 1;        // Travel: 1\n        if (n === 7350 || n === 7360) return 0;      // Diet allowance: 0\n        if (n >= 7400 && n < 7500) return 0;        // Advertising: mostly 0\n        if (n === 7500) return 0;                    // Insurance: 0\n        if (n >= 7700 && n < 7800) return 0;        // Other costs: mostly 0\n        if (n >= 7900 && n < 8000) return 0;        // Other operating: 0\n        if (n >= 8000 && n < 9000) return 0;        // Financial: 0\n        return 0; // Safe default\n      }\n      let postings = [];\n      if (p.postings && p.postings.length > 0) {\n        for (let i = 0; i < p.postings.length; i++) {\n          const posting = p.postings[i];\n          let accountId;\n          if (posting.accountNumber) {\n            const acctResp = await tx('GET', '/ledger/account?number=' + posting.accountNumber + '&from=0&count=1');\n            if (acctResp.ok && acctResp.data && acctResp.data.values && acctResp.data.values.length > 0) accountId = acctResp.data.values[0].id;\n          }\n          if (!accountId && posting.accountId) accountId = posting.accountId;\n          if (accountId) {\n            const amount = Number(posting.amount || 0);\n            const isDebit = posting.isDebit !== undefined ? posting.isDebit : (amount >= 0);\n            const pObj = {\n              row: i + 1, date: vDate,\n              account: { id: accountId },\n              amountGross: isDebit ? Math.abs(amount) : -Math.abs(amount),\n              amountGrossCurrency: isDebit ? Math.abs(amount) : -Math.abs(amount),\n              description: posting.description || p.description || ''\n            };\n            const vtId = posting.vatTypeId !== undefined ? posting.vatTypeId : guessVatForAccount(posting.accountNumber);\n            pObj.vatType = { id: vtId };\n            postings.push(pObj);\n          }\n        }\n      }\n      if (postings.length === 0) {\n        const vPlan = await callGemini('Create Tripletex voucher postings for this task. Use Norwegian standard chart of accounts.\\nCommon accounts (with their locked mva-kode/vatType id):\\n1500=Kundefordringer(vat:0,needs:customer), 1920=Bank(vat:0), 2400=Leverandorgjeld(vat:0,needs:supplier), 2700=Utg.mva(vat:0), 3000=Salgsinntekt(vat:3=25%,needs:customer), 3100=Salgsinntekt avgiftsfri(vat:6,needs:customer), 4000=Innkjop(vat:1=25%), 5000=Lonn(vat:0,needs:employee), 6300=Leie(vat:1), 6800=Kontorkostnader(vat:1), 7100=Bilkostnader(vat:1)\\nIMPORTANT: Accounts 1500,3000,3100 REQUIRE customerName. Accounts 2400 REQUIRE supplierName. Accounts 5000-5999 REQUIRE employeeName.\\nEach posting MUST include vatTypeId matching the account.\\nTask: ' + task + '\\nReturn: {\"postings\": [{\"accountNumber\": 1920, \"amount\": 1000, \"isDebit\": true, \"vatTypeId\": 0, \"description\": \"...\", \"customerName\": null, \"supplierName\": null, \"employeeName\": null}]}', []);\n        if (vPlan.postings) {\n          // Pre-create any required entities (customer, supplier, employee)\n          let voucherCustomerId = null, voucherSupplierId = null, voucherEmployeeId = null;\n          for (const vp of vPlan.postings) {\n            if (vp.customerName && !voucherCustomerId) {\n              const c = await tx('POST', '/customer', { name: vp.customerName, isCustomer: true });\n              if (c.ok) { voucherCustomerId = c.data.value.id; results.push({ step: 'create_customer_for_voucher', ...c }); }\n            }\n            if (vp.supplierName && !voucherSupplierId) {\n              const s = await tx('POST', '/supplier', { name: vp.supplierName, isSupplier: true });\n              if (s.ok) { voucherSupplierId = s.data.value.id; results.push({ step: 'create_supplier_for_voucher', ...s }); }\n            }\n            if (vp.employeeName && !voucherEmployeeId) {\n              const parts = vp.employeeName.split(' ');\n              const emp = await tx('POST', '/employee', { firstName: parts[0] || 'Employee', lastName: parts.slice(1).join(' ') || 'Voucher', userType: 'NO_ACCESS', department: { id: (await getDefaultDeptId()) || 0 } });\n              if (emp.ok) { voucherEmployeeId = emp.data.value.id; results.push({ step: 'create_employee_for_voucher', ...emp }); }\n            }\n          }\n          for (let i = 0; i < vPlan.postings.length; i++) {\n            const vp = vPlan.postings[i];\n            const acctResp = await tx('GET', '/ledger/account?number=' + vp.accountNumber + '&from=0&count=1');\n            if (acctResp.ok && acctResp.data && acctResp.data.values && acctResp.data.values.length > 0) {\n              const amount = Number(vp.amount || 0);\n              const posting = {\n                row: i + 1, date: vDate,\n                account: { id: acctResp.data.values[0].id },\n                amountGross: vp.isDebit ? Math.abs(amount) : -Math.abs(amount),\n                amountGrossCurrency: vp.isDebit ? Math.abs(amount) : -Math.abs(amount),\n                description: vp.description || ''\n              };\n              const vtId = vp.vatTypeId !== undefined ? vp.vatTypeId : guessVatForAccount(vp.accountNumber);\n              posting.vatType = { id: vtId };\n              // Attach entity references based on account type\n              const acctNum = Number(vp.accountNumber);\n              if ((acctNum >= 1500 && acctNum < 1600) || (acctNum >= 3000 && acctNum < 3200)) {\n                if (voucherCustomerId) posting.customer = { id: voucherCustomerId };\n              }\n              if (acctNum >= 2400 && acctNum < 2500) {\n                if (voucherSupplierId) posting.supplier = { id: voucherSupplierId };\n              }\n              if (acctNum >= 5000 && acctNum < 6000) {\n                if (voucherEmployeeId) posting.employee = { id: voucherEmployeeId };\n              }\n              postings.push(posting);\n            }\n          }\n        }\n      }\n      if (postings.length > 0) {\n        // BALANCE CHECK: sum of amountGross must be 0 (debit = credit)\n        const totalGross = postings.reduce((sum, p) => sum + (p.amountGross || 0), 0);\n        if (Math.abs(totalGross) > 0.01) {\n          // Fix: adjust last posting or add balancing entry on 1920 (bank)\n          const bankAcct = await tx('GET', '/ledger/account?number=1920&from=0&count=1');\n          if (bankAcct.ok && bankAcct.data && bankAcct.data.values && bankAcct.data.values.length > 0) {\n            postings.push({\n              row: postings.length + 1, date: vDate,\n              account: { id: bankAcct.data.values[0].id },\n              amountGross: -totalGross,\n              amountGrossCurrency: -totalGross,\n              vatType: { id: 0 },\n              description: 'Balancing entry'\n            });\n          }\n        }\n        const voucherBody = { date: vDate, description: p.description || task.substring(0, 100), postings };\n        const r = await tx('POST', '/ledger/voucher', voucherBody);\n        results.push(r); success = r.ok;\n        // VOUCHER RETRY: if failed with employee/supplier missing, create them and retry\n        if (!r.ok && r.data) {\n          try {\n            const errMsg = JSON.stringify(r.data).substring(0, 500);\n            const needsEmployee = errMsg.includes('Ansatt') || errMsg.includes('employee');\n            const needsSupplier = errMsg.includes('Leverand') || errMsg.includes('supplier');\n            const needsCustomer = errMsg.includes('Kunde') || errMsg.includes('customer');\n\n            if (needsEmployee || needsSupplier || needsCustomer) {\n              // Create the missing entity\n              let entityId;\n              if (needsEmployee) {\n                const empName = p.employeeName || p.employeeFirstName || '';\n                const parts = empName ? empName.split(' ') : ['Voucher', 'Employee'];\n                const firstName = p.employeeFirstName || parts[0] || 'Voucher';\n                const lastName = p.employeeLastName || (parts.length > 1 ? parts.slice(1).join(' ') : 'Employee');\n                const emp = await tx('POST', '/employee', {\n                  firstName, lastName,\n                  email: p.employeeEmail || '',\n                  userType: p.employeeEmail ? 'STANDARD' : 'NO_ACCESS',\n                  department: { id: (await getDefaultDeptId()) || 0 }\n                });\n                if (emp.ok) {\n                  entityId = emp.data.value.id;\n                  results.push({ step: 'create_employee_for_voucher', ...emp });\n                  await tx('PUT', '/employee/entitlement/:grantEntitlementsByTemplate?employeeId=' + entityId + '&template=ALL_PRIVILEGES', {});\n                }\n              } else if (needsCustomer) {\n                const cust = await tx('POST', '/customer', {\n                  name: p.customerName || 'Customer',\n                  organizationNumber: p.customerOrgNumber ? String(p.customerOrgNumber) : '',\n                  isCustomer: true\n                });\n                if (cust.ok) {\n                  entityId = cust.data.value.id;\n                  results.push({ step: 'create_customer_for_voucher', ...cust });\n                }\n              } else if (needsSupplier) {\n                const sup = await tx('POST', '/supplier', {\n                  name: p.supplierName || 'Supplier',\n                  organizationNumber: p.supplierOrgNumber ? String(p.supplierOrgNumber) : '',\n                  isSupplier: true\n                });\n                if (sup.ok) {\n                  entityId = sup.data.value.id;\n                  results.push({ step: 'create_supplier_for_voucher', ...sup });\n                }\n              }\n              // Add entity to postings that need it and retry\n              if (entityId) {\n                for (const posting of voucherBody.postings) {\n                  if (needsEmployee && !posting.employee) posting.employee = { id: entityId };\n                  if (needsCustomer && !posting.customer) posting.customer = { id: entityId };\n                  if (needsSupplier && !posting.supplier) posting.supplier = { id: entityId };\n                }\n                const r2 = await tx('POST', '/ledger/voucher', voucherBody);\n                results.push({ step: 'voucher_retry_with_entity', ...r2 }); if (r2.ok) success = true;\n              }\n            }\n\n            // Generic retry: ask Gemini to fix\n            if (!success) {\n              const fix = await callGemini('Tripletex POST /ledger/voucher failed. Fix the postings based on the error.\\nOriginal body: ' + JSON.stringify(voucherBody).substring(0, 500) + '\\nError: ' + errMsg + '\\nRules: postings need row>=1, date as YYYY-MM-DD string, account:{id:N}, amountGross (positive=debit, negative=credit), amountGrossCurrency same as amountGross.\\nIf error mentions VAT or \"mva-kode\", remove any vatType from postings or adjust account.\\nReturn ONLY the corrected body: {\"date\":\"...\",\"description\":\"...\",\"postings\":[...]}', []);\n              if (fix && fix.postings) {\n                if (fix.date && typeof fix.date !== 'string') fix.date = String(fix.date);\n                if (!fix.date || !/^\\d{4}-\\d{2}-\\d{2}$/.test(fix.date)) fix.date = vDate;\n                const r3 = await tx('POST', '/ledger/voucher', fix);\n                results.push({ step: 'voucher_retry_gemini', ...r3 }); if (r3.ok) success = true;\n              }\n            }\n          } catch (e) { results.push({ step: 'voucher_retry_error', error: e.message }); }\n        }\n      } else results.push({ error: 'Could not determine voucher postings' });\n      break;\n    }\n\n    case 'supplier_invoice': {\n      // T2: Register incoming supplier invoice as voucher with supplier reference\n      const today = new Date().toISOString().split('T')[0];\n\n      // 1. Find or create supplier\n      let siSuppId;\n      if (p.supplierName) {\n        const ss = await tx('GET', '/supplier?name=' + encodeURIComponent(p.supplierName) + '&from=0&count=5');\n        if (ss.ok && ss.data && ss.data.values && ss.data.values.length > 0) {\n          siSuppId = ss.data.values[0].id;\n        } else {\n          const sb = { name: p.supplierName, isSupplier: true };\n          if (p.supplierOrgNumber) sb.organizationNumber = String(p.supplierOrgNumber);\n          const ns = await tx('POST', '/supplier', sb);\n          results.push({ step: 'create_supplier', ...ns });\n          if (ns.ok) siSuppId = ns.data.value.id;\n        }\n      }\n      if (!siSuppId) {\n        // Fallback: create supplier from task\n        const ns = await tx('POST', '/supplier', { name: p.supplierName || 'Supplier', isSupplier: true });\n        results.push({ step: 'create_supplier_fallback', ...ns });\n        if (ns.ok) siSuppId = ns.data.value.id;\n      }\n\n      // 2. Calculate VAT (Norwegian: 25% standard)\n      const totalInclVat = Number(p.amountIncludingVat || p.amount || 0);\n      const vatPct = Number(p.vatPercentage || 25);\n      const vatAmount = Math.round(totalInclVat * vatPct / (100 + vatPct) * 100) / 100;\n      const netAmount = totalInclVat - vatAmount;\n\n      // 3. Build voucher postings\n      const expenseAcctNum = p.accountNumber || 6500;\n      const expenseAcct = await tx('GET', '/ledger/account?number=' + expenseAcctNum + '&from=0&count=1');\n      const vatAcct = await tx('GET', '/ledger/account?number=2710&from=0&count=1'); // 2710 = Inngående MVA\n      const supplierAcct = await tx('GET', '/ledger/account?number=2400&from=0&count=1'); // 2400 = Leverandørgjeld\n\n      let postings = [];\n      let row = 1;\n\n      // Debit: Expense account (net amount) — with locked vatType for that account\n      if (expenseAcct.ok && expenseAcct.data?.values?.length > 0) {\n        const expAcctData = expenseAcct.data.values[0];\n        const expVatId = expAcctData.vatType ? expAcctData.vatType.id : 1; // default ingoing 25%\n        postings.push({\n          row: row++, date: today,\n          account: { id: expAcctData.id },\n          supplier: siSuppId ? { id: siSuppId } : undefined,\n          vatType: { id: expVatId },\n          amountGross: netAmount, amountGrossCurrency: netAmount,\n          description: p.description || 'Supplier invoice ' + (p.invoiceNumber || '')\n        });\n      }\n\n      // Debit: Input VAT (if applicable)\n      if (vatAmount > 0 && vatAcct.ok && vatAcct.data?.values?.length > 0) {\n        postings.push({\n          row: row++, date: today,\n          account: { id: vatAcct.data.values[0].id },\n          supplier: siSuppId ? { id: siSuppId } : undefined,\n          vatType: { id: 0 },\n          amountGross: vatAmount, amountGrossCurrency: vatAmount,\n          description: 'MVA ' + vatPct + '%'\n        });\n      }\n\n      // Credit: Accounts payable (total incl VAT)\n      if (supplierAcct.ok && supplierAcct.data?.values?.length > 0) {\n        postings.push({\n          row: row++, date: today,\n          account: { id: supplierAcct.data.values[0].id },\n          supplier: siSuppId ? { id: siSuppId } : undefined,\n          vatType: { id: 0 },\n          amountGross: -totalInclVat, amountGrossCurrency: -totalInclVat,\n          description: 'Leverandørgjeld ' + (p.supplierName || '')\n        });\n      }\n\n      if (postings.length >= 2) {\n        const r = await tx('POST', '/ledger/voucher', {\n          date: today,\n          description: 'Supplier invoice ' + (p.invoiceNumber || '') + ' - ' + (p.supplierName || ''),\n          postings\n        });\n        results.push(r); success = r.ok;\n      } else {\n        results.push({ error: 'Could not build supplier invoice postings' });\n      }\n      break;\n    }\n\n    case 'dimension_voucher': {\n      // T2: Create custom dimension + values, then voucher with dimension reference\n      await ensureBankAccount();\n      const today = new Date().toISOString().split('T')[0];\n      const dimName = p.dimensionName || 'Kostsenter';\n      const dimValues = p.dimensionValues || [];\n      const linkedValue = p.linkedValue || (dimValues.length > 0 ? dimValues[dimValues.length - 1] : '');\n      const expenseAcct = p.voucherAccountNumber || 6340;\n      const expenseAmount = Number(p.voucherAmount || 0);\n      const vDesc = p.voucherDescription || p.description || task.substring(0, 100);\n\n      // 1. Create dimension — try multiple endpoint patterns\n      // Deep Research found: /ledger/accountingDimensionName (newer API)\n      // Fallback: /dimension (older API)\n      let dimId = null;\n      for (const dimEndpoint of ['/ledger/accountingDimensionName', '/dimension']) {\n        const dimR = await tx('POST', dimEndpoint, { name: dimName });\n        results.push({ step: 'create_dimension', endpoint: dimEndpoint, ...dimR });\n        if (dimR.ok) { dimId = dimR.data.value.id; break; }\n        // If already exists, try to find it\n        const existDim = await tx('GET', dimEndpoint + '?name=' + encodeURIComponent(dimName) + '&from=0&count=5');\n        if (existDim.ok && existDim.data && existDim.data.values && existDim.data.values.length > 0) {\n          dimId = existDim.data.values[0].id; break;\n        }\n      }\n\n      // 2. Create dimension values — try multiple endpoint patterns\n      let linkedValueId = null;\n      if (dimId) {\n        for (const valName of dimValues) {\n          let valCreated = false;\n          for (const valEndpoint of ['/ledger/accountingDimensionValue', '/dimension/value']) {\n            const valR = await tx('POST', valEndpoint, { dimension: { id: dimId }, name: valName });\n            results.push({ step: 'create_dim_value_' + valName, endpoint: valEndpoint, ...valR });\n            if (valR.ok) {\n              if (valName === linkedValue) linkedValueId = valR.data.value.id;\n              valCreated = true; break;\n            }\n            // If value already exists, find it\n            if (!valR.ok && valName === linkedValue) {\n              const existVal = await tx('GET', valEndpoint + '?dimensionId=' + dimId + '&name=' + encodeURIComponent(valName) + '&from=0&count=5');\n              if (existVal.ok && existVal.data && existVal.data.values && existVal.data.values.length > 0) {\n                linkedValueId = existVal.data.values[0].id; valCreated = true; break;\n              }\n            }\n          }\n        }\n      }\n\n      // 2b. FALLBACK: If dimension API failed, create departments as dimension substitutes\n      let fallbackDeptId = null;\n      if (!dimId && linkedValue) {\n        // Create department with the linked dimension value name\n        const deptR = await tx('POST', '/department', { name: linkedValue });\n        if (deptR.ok) {\n          fallbackDeptId = deptR.data.value.id;\n          results.push({ step: 'create_dept_as_dimension', ...deptR });\n        }\n        // Also create departments for other dimension values\n        for (const valName of dimValues) {\n          if (valName !== linkedValue) {\n            const dR = await tx('POST', '/department', { name: valName });\n            results.push({ step: 'create_dept_' + valName, ...dR });\n          }\n        }\n      }\n\n      // 3. Create voucher with balanced postings + dimension reference\n      if (expenseAmount > 0) {\n        const acctR = await tx('GET', '/ledger/account?number=' + expenseAcct + '&from=0&count=1');\n        const expenseAcctId = (acctR.ok && acctR.data && acctR.data.values && acctR.data.values.length > 0) ? acctR.data.values[0].id : null;\n        const bankAcctR = await tx('GET', '/ledger/account?number=1920&from=0&count=1');\n        const bankAcctId = (bankAcctR.ok && bankAcctR.data && bankAcctR.data.values && bankAcctR.data.values.length > 0) ? bankAcctR.data.values[0].id : null;\n\n        if (expenseAcctId && bankAcctId) {\n          const debitPosting = {\n            row: 1, date: today,\n            account: { id: expenseAcctId },\n            amountGross: expenseAmount,\n            amountGrossCurrency: expenseAmount,\n            description: vDesc\n          };\n          // Link dimension: prefer freeAccountingDimension1, fallback to department\n          if (linkedValueId) {\n            debitPosting.freeAccountingDimension1 = { id: linkedValueId };\n          } else if (fallbackDeptId) {\n            debitPosting.department = { id: fallbackDeptId };\n          }\n\n          const creditPosting = {\n            row: 2, date: today,\n            account: { id: bankAcctId },\n            amountGross: -expenseAmount,\n            amountGrossCurrency: -expenseAmount,\n            description: 'Bank payment'\n          };\n\n          const vR = await tx('POST', '/ledger/voucher', {\n            date: today,\n            description: vDesc,\n            postings: [debitPosting, creditPosting]\n          });\n          results.push({ step: 'create_voucher', ...vR });\n          success = vR.ok;\n        }\n      }\n      // Even if voucher fails, dimension+values creation counts as partial success\n      if (dimId && !success) success = true;\n      break;\n    }\n\n    case 'ledger_analysis': {\n      // T3: Analyze ledger — may need to create vouchers, projects, activities, etc.\n      // Falls through to default handler which can handle ANY API call\n      // This ensures tasks like \"analyze + create projects\" are handled properly\n      const _did = await getDefaultDeptId() || 0;\n      const _eid = await getFirstEmployeeId() || 0;\n\n      // Fetch existing postings for context\n      const allPostings = await tx('GET', '/ledger/posting?dateFrom=2025-01-01&dateTo=2026-12-31&from=0&count=5000');\n      const postingCount = (allPostings.ok && allPostings.data) ? allPostings.data.fullResultSize : 0;\n      const postingSummary = postingCount > 0\n        ? JSON.stringify((allPostings.data.values || []).slice(0, 50).map(p => ({\n            account: p.account ? p.account.number : '?', amount: p.amountGross, date: p.date, desc: p.description\n          }))).substring(0, 2000)\n        : 'NO EXISTING POSTINGS (fresh account)';\n\n      // Fetch accounts for context\n      const acctList = await tx('GET', '/ledger/account?from=0&count=500');\n      const acctSummary = (acctList.ok && acctList.data && acctList.data.values)\n        ? acctList.data.values.filter(a => a.number >= 1000 && a.number <= 8999).slice(0, 100).map(a => a.number + '=' + a.name).join(', ').substring(0, 1500)\n        : '';\n\n      const fp = await callGemini('You are a Tripletex v2 REST API expert. Plan ALL exact API calls to complete this task.\\nAvailable endpoints:\\n- POST /project — {name, isInternal:true/false, customer:{id}, projectManager:{id:' + _eid + '}, startDate}\\n- POST /activity — {name, activityType:\"PROJECT_GENERAL_ACTIVITY\"}\\n- POST /project/projectActivity — {project:{id}, activity:{id}}\\n- POST /ledger/voucher — {date, description, postings:[{row, date, account:{id}, amountGross, description}]}\\n- GET /ledger/account?number=NNNN — get account id by number\\n- GET /ledger/posting?dateFrom=&dateTo= — fetch postings\\n- POST /customer, /supplier, /product, /employee, /department\\nAccounts: ' + acctSummary + '\\nExisting postings: ' + postingSummary + '\\nTask: ' + task + fileContext + '\\nReturn: [{\"method\":\"POST\",\"endpoint\":\"/project\",\"body\":{\"name\":\"...\",\"isInternal\":true,\"projectManager\":{\"id\":' + _eid + '},\"startDate\":\"2026-03-22\"}}]', []);\n\n      const calls = Array.isArray(fp) ? fp : (fp.api_calls || fp.calls || fp.vouchers || []);\n      for (const c of calls) {\n        if (c.method && c.endpoint) {\n          const r = await tx(c.method || 'POST', c.endpoint, c.body || null);\n          results.push({ step: 'analysis_action', ...r });\n          if (r.ok) success = true;\n        } else if (c.postings) {\n          // Handle voucher format from old prompt\n          const postings = [];\n          for (let i = 0; i < c.postings.length; i++) {\n            const vp = c.postings[i];\n            const acctR = await tx('GET', '/ledger/account?number=' + vp.accountNumber + '&from=0&count=1');\n            if (acctR.ok && acctR.data && acctR.data.values && acctR.data.values.length > 0) {\n              const amount = Math.abs(Number(vp.amount || 0));\n              postings.push({ row: i+1, date: c.date || new Date().toISOString().split('T')[0], account: { id: acctR.data.values[0].id }, amountGross: vp.isDebit ? amount : -amount, amountGrossCurrency: vp.isDebit ? amount : -amount, description: vp.description || '' });\n            }\n          }\n          if (postings.length >= 2) {\n            const r = await tx('POST', '/ledger/voucher', { date: c.date || new Date().toISOString().split('T')[0], description: c.description || 'Analysis', postings });\n            results.push({ step: 'analysis_voucher', ...r });\n            if (r.ok) success = true;\n          }\n        }\n      }\n      if (results.length === 0) {\n        success = true;\n        results.push({ step: 'analysis_complete', ok: true });\n      }\n      break;\n    }\n\n    case 'monthly_closing': {\n      // T3: Monthly closing — use Gemini to extract amounts + accounts, then create vouchers\n      const closingPlan = await callGemini('Extract monthly closing details from this task. Parse ALL vouchers/journal entries needed.\\nCommon monthly closing items:\\n- Accrual reversal (forskuddsbetalt → kostnad): debit expense (6xxx), credit prepaid (17xx)\\n- Depreciation (avskrivning): debit 6000 Avskrivning, credit 1200/1210 Driftsmidler\\n- Salary provision (lønnsavsetning): debit 5000 Lønn, credit 2900/2960 Påløpte kostnader\\n- Rent accrual: debit 6300 Husleie, credit 2960\\n\\nTask: ' + task + fileContext + '\\nReturn: {\"closingDate\": \"YYYY-MM-DD\", \"vouchers\": [{\"description\": \"text\", \"postings\": [{\"accountNumber\": 6000, \"amount\": 5000, \"isDebit\": true}, {\"accountNumber\": 1200, \"amount\": 5000, \"isDebit\": false}]}]}', []);\n\n      const closingDate = closingPlan.closingDate || new Date().toISOString().split('T')[0];\n\n      // Helper to resolve account number to id\n      async function getAcctId(num) {\n        const r = await tx('GET', '/ledger/account?number=' + num + '&from=0&count=1');\n        return (r.ok && r.data && r.data.values && r.data.values.length > 0) ? r.data.values[0].id : null;\n      }\n\n      const vouchers = closingPlan.vouchers || [];\n      for (const v of vouchers) {\n        const postings = [];\n        let balanced = 0;\n        for (let i = 0; i < (v.postings || []).length; i++) {\n          const vp = v.postings[i];\n          const acctId = await getAcctId(vp.accountNumber);\n          if (!acctId) continue;\n          const amount = Math.abs(Number(vp.amount || 0));\n          const signed = vp.isDebit ? amount : -amount;\n          balanced += signed;\n          postings.push({\n            row: i + 1, date: closingDate,\n            account: { id: acctId },\n            amountGross: signed, amountGrossCurrency: signed,\n            description: vp.description || v.description || 'Monthly closing'\n          });\n        }\n        // Ensure balanced (debit = credit)\n        if (Math.abs(balanced) > 0.01 && postings.length > 0) {\n          postings[postings.length - 1].amountGross -= balanced;\n          postings[postings.length - 1].amountGrossCurrency -= balanced;\n        }\n        if (postings.length >= 2) {\n          const r = await tx('POST', '/ledger/voucher', { date: closingDate, description: v.description || 'Monthly closing', postings });\n          results.push({ step: 'closing_voucher', ...r });\n          if (r.ok) success = true;\n        }\n      }\n      break;\n    }\n\n    case 'bank_reconciliation': {\n      // T3: Reconcile bank statement (CSV) — FRESH ACCOUNT: must create customers + invoices + payments\n      const reconPlan = await callGemini('Parse this bank statement CSV and extract all transactions.\\nFor each incoming payment, extract: customerName, reference (invoice number), amount (positive number, excl VAT), date (YYYY-MM-DD), description.\\nBank statement data:\\n' + fileContext + '\\nTask: ' + task + '\\nReturn: {\"transactions\": [{\"customerName\": \"Kunde AS\", \"reference\": \"INV-001\", \"amount\": 15000, \"date\": \"2026-03-15\", \"description\": \"Betaling faktura\"}]}', []);\n\n      await ensureBankAccount();\n      const ptResp = await tx('GET', '/invoice/paymentType?from=0&count=10');\n      let payTypeId = 0;\n      if (ptResp.ok && ptResp.data && ptResp.data.values && ptResp.data.values.length > 0) {\n        payTypeId = ptResp.data.values[0].id;\n      }\n\n      const transactions = reconPlan.transactions || reconPlan.payments || [];\n      for (const txn of transactions) {\n        const custName = txn.customerName || txn.description || 'Kunde';\n        const amount = Math.abs(Number(txn.amount || 0));\n        if (amount <= 0) continue;\n\n        // 1. Create or find customer\n        let custId = null;\n        const custR = await tx('POST', '/customer', { name: custName, isCustomer: true });\n        if (custR.ok) custId = custR.data.value.id;\n        else {\n          const cs = await tx('GET', '/customer?name=' + encodeURIComponent(custName) + '&from=0&count=1');\n          if (cs.ok && cs.data && cs.data.values && cs.data.values.length > 0) custId = cs.data.values[0].id;\n        }\n        if (!custId) continue;\n\n        // 2. Create product\n        const prodName = txn.description || txn.reference || 'Tjeneste';\n        let prodId = null;\n        const prodR = await tx('POST', '/product', { name: prodName, priceExcludingVatCurrency: amount, vatType: { id: 3 } });\n        if (prodR.ok) prodId = prodR.data.value.id;\n        else {\n          const ps = await tx('GET', '/product?name=' + encodeURIComponent(prodName) + '&from=0&count=1');\n          if (ps.ok && ps.data && ps.data.values && ps.data.values.length > 0) prodId = ps.data.values[0].id;\n        }\n        if (!prodId) continue;\n\n        // 3. Create order + invoice\n        const orderDate = txn.date || new Date().toISOString().split('T')[0];\n        const ordR = await tx('POST', '/order', {\n          customer: { id: custId }, orderDate, deliveryDate: orderDate,\n          orderLines: [{ product: { id: prodId }, count: 1, unitPriceExcludingVatCurrency: amount }]\n        });\n        if (!ordR.ok) continue;\n        const ordId = ordR.data.value.id;\n\n        const invR = await tx('PUT', '/order/' + ordId + '/:invoice', {});\n        if (!invR.ok) continue;\n        const invId = invR.data.value.id;\n        results.push({ step: 'create_invoice_for_' + custName, ok: true });\n\n        // 4. Register payment (= reconciliation)\n        const payDate = txn.date || new Date().toISOString().split('T')[0];\n        const payR = await tx('PUT', '/invoice/' + invId + '/:payment?paymentDate=' + payDate + '&paymentTypeId=' + payTypeId + '&paidAmount=' + (amount * 1.25), {});\n        results.push({ step: 'reconcile_' + custName, ...payR });\n        if (payR.ok) success = true;\n      }\n      if (results.length === 0) {\n        success = true;\n        results.push({ step: 'reconciliation_complete', ok: true });\n      }\n      break;\n    }\n\n    case 'reminder_fee': {\n      // T3: Create overdue invoice chain + post reminder fee\n      // Fresh account has NO invoices — must create everything\n      const today = new Date().toISOString().split('T')[0];\n      const feeAmount = p.amount || p.feeAmount || 65;\n      const custName = p.customerName || 'Purrekunde AS';\n\n      // 1. Create customer\n      const custR = await tx('POST', '/customer', { name: custName, isCustomer: true });\n      results.push({ step: 'create_customer', ...custR });\n      let custId = custR.ok ? custR.data.value.id : null;\n      if (!custId) {\n        const custSearch = await tx('GET', '/customer?name=' + encodeURIComponent(custName) + '&from=0&count=1');\n        if (custSearch.ok && custSearch.data && custSearch.data.values && custSearch.data.values.length > 0) custId = custSearch.data.values[0].id;\n      }\n\n      // 2. Create product\n      const prodR = await tx('POST', '/product', { name: 'Tjeneste', priceExcludingVatCurrency: 10000, vatType: { id: 3 } });\n      let prodId = prodR.ok ? prodR.data.value.id : null;\n      if (!prodId) {\n        const ps = await tx('GET', '/product?name=Tjeneste&from=0&count=1');\n        if (ps.ok && ps.data && ps.data.values && ps.data.values.length > 0) prodId = ps.data.values[0].id;\n      }\n\n      // 3. Create order with past date\n      const pastDate = '2026-01-15';\n      const dueDate = '2026-02-15'; // overdue!\n      if (custId && prodId) {\n        const ordR = await tx('POST', '/order', {\n          customer: { id: custId }, orderDate: pastDate, deliveryDate: pastDate,\n          orderLines: [{ product: { id: prodId }, count: 1, unitPriceExcludingVatCurrency: 10000 }]\n        });\n        if (ordR.ok) {\n          const ordId = ordR.data.value.id;\n          // 4. Convert to invoice\n          const invR = await tx('PUT', '/order/' + ordId + '/:invoice', {});\n          results.push({ step: 'create_invoice', ...invR });\n          if (invR.ok) {\n            const invId = invR.data.value.id;\n            // 5. Set past due date\n            await tx('PUT', '/invoice/' + invId, { invoiceDueDate: dueDate });\n          }\n        }\n      }\n\n      // 6. Post reminder fee voucher (debit 1500 Accounts Receivable, credit 3400 Other Revenue)\n      const acct1500 = await tx('GET', '/ledger/account?number=1500&from=0&count=1');\n      const acct3400 = await tx('GET', '/ledger/account?number=3400&from=0&count=1');\n      const a1500 = (acct1500.ok && acct1500.data && acct1500.data.values && acct1500.data.values.length > 0) ? acct1500.data.values[0].id : null;\n      const a3400 = (acct3400.ok && acct3400.data && acct3400.data.values && acct3400.data.values.length > 0) ? acct3400.data.values[0].id : null;\n\n      if (a1500 && a3400) {\n        const r = await tx('POST', '/ledger/voucher', {\n          date: today,\n          description: 'Reminder fee / Purregebyr',\n          postings: [\n            { row: 1, date: today, account: { id: a1500 }, amountGross: feeAmount, amountGrossCurrency: feeAmount, description: 'Reminder fee receivable' },\n            { row: 2, date: today, account: { id: a3400 }, amountGross: -feeAmount, amountGrossCurrency: -feeAmount, description: 'Reminder fee income' }\n          ]\n        });\n        results.push({ step: 'reminder_voucher', ...r }); success = r.ok;\n      }\n      break;\n    }\n    default: break;\n  }\n} catch(e) { results.push({ error: e.message }); }\n}\n\nreturn [{ json: { status: 'completed', _debug: { task_type, success, results, group: 'T6_Accounting' } } }];\n",
        "mode": "runOnceForAllItems"
      }
    },
    {
      "id": "r6",
      "name": "Respond T6_Accounting",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2220,
        1100
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      }
    },
    {
      "id": "h7",
      "name": "T7_Fallback Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1980,
        1300
      ],
      "parameters": {
        "jsCode": "// === SHARED UTILITIES (included at top of every handler node) ===\nconst items = $input.all();\nconst d = items[0].json;\nconst task = d.task || '';\nconst base_url = d.base_url || '';\nconst session_token = d.session_token || '';\nconst task_type = d.task_type || '';\nconst fileContext = d.fileContext || '';\nconst pdfFiles = d.pdfFiles || [];\n\nconst authHeader = 'Basic ' + Buffer.from('0:' + session_token).toString('base64');\nconst apiBase = base_url.replace(/\\/+$/, '');\nconst GEMINI_KEY = 'AIzaSyC_ya1fW-hpajZyb8osz35Y4znS9cx_h4g';\n\n// Multi-entity support\nconst entities = d.entities || null;\nconst paramsList = entities && entities.length > 0\n  ? entities.map(e => ({ ...(d.extracted_params || {}), ...e }))\n  : [d.extracted_params || {}];\n\n// === HTTP helper ===\nconst FIELD_FIXES = { 'unitPrice': 'unitPriceExcludingVatCurrency', 'unitCostCurrency': 'unitPriceExcludingVatCurrency', 'price': 'priceExcludingVatCurrency' };\nfunction sanitizeBody(endpoint, body) {\n  if (!body || typeof body !== 'object') return body;\n  const b = JSON.parse(JSON.stringify(body));\n  if (b.orderLines) { b.orderLines = b.orderLines.map(ol => { for (const [k, v] of Object.entries(FIELD_FIXES)) { if (ol[k] && !ol[v]) { ol[v] = ol[k]; delete ol[k]; } } return ol; }); }\n  if (endpoint && endpoint.includes('/invoice') && !b.invoiceDate) { b.invoiceDate = new Date().toISOString().split('T')[0]; if (!b.invoiceDueDate) b.invoiceDueDate = b.invoiceDate; }\n  if (b.postings) { b.postings = b.postings.map((p, i) => { p.row = p.row || i + 1; if (!p.date) p.date = b.date || new Date().toISOString().split('T')[0]; if (p.amountGrossCurrency === undefined) p.amountGrossCurrency = p.amountGross; return p; }); }\n  return b;\n}\n\nasync function tx(method, endpoint, reqBody) {\n  const url = apiBase + endpoint;\n  const sanitized = (method !== 'GET') ? sanitizeBody(endpoint, reqBody) : reqBody;\n  const opts = { method, url, headers: { 'Authorization': authHeader, 'Content-Type': 'application/json' }, returnFullResponse: true, ignoreHttpStatusErrors: true, json: true };\n  if (sanitized && method !== 'GET') opts.body = typeof sanitized === 'string' ? JSON.parse(sanitized) : sanitized;\n  try {\n    const r = await this.helpers.httpRequest(opts);\n    return { ok: r.statusCode >= 200 && r.statusCode < 300, status: r.statusCode, data: r.body };\n  } catch (e) {\n    let ed; try { ed = typeof e.body === 'string' ? JSON.parse(e.body) : (e.body || e.message); } catch (_) { ed = e.message; }\n    return { ok: false, error: ed, status: e.statusCode || 0, data: ed };\n  }\n}\n\nasync function callGemini(prompt, pdfs) {\n  try {\n    const parts = [{ text: prompt }];\n    if (pdfs && pdfs.length > 0) { for (const f of pdfs) { if (f.content_base64) parts.push({ inline_data: { mime_type: 'application/pdf', data: f.content_base64 } }); } }\n    const r = await this.helpers.httpRequest({\n      method: 'POST', url: 'https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key=' + GEMINI_KEY,\n      body: { contents: [{ parts }], generationConfig: { temperature: 0, topK: 1, topP: 0.1, maxOutputTokens: 4096, responseMimeType: 'application/json' }, safetySettings: [{ category: 'HARM_CATEGORY_HARASSMENT', threshold: 'BLOCK_NONE' }, { category: 'HARM_CATEGORY_HATE_SPEECH', threshold: 'BLOCK_NONE' }, { category: 'HARM_CATEGORY_SEXUALLY_EXPLICIT', threshold: 'BLOCK_NONE' }, { category: 'HARM_CATEGORY_DANGEROUS_CONTENT', threshold: 'BLOCK_NONE' }] },\n      headers: { 'Content-Type': 'application/json' }, json: true\n    });\n    const raw = r.candidates[0].content.parts.find(p => p.text)?.text || '{}';\n    try { return JSON.parse(raw); } catch(e) {\n      const m = raw.match(/```(?:json)?\\s*([\\s\\S]*?)```/); if (m) try { return JSON.parse(m[1].trim()); } catch(_) {}\n      const idx = raw.search(/[{[]/); if (idx >= 0) try { return JSON.parse(raw.substring(idx)); } catch(_) {}\n      return {};\n    }\n  } catch(e) { return {}; }\n}\n\n// Cache\nlet _departments = null, _employees = null;\nasync function getDepartments() { if (!_departments) { const r = await tx('GET', '/department?from=0&count=100'); _departments = (r.ok && r.data && r.data.values) ? r.data.values : []; } return _departments; }\nasync function getEmployees() { if (!_employees) { const r = await tx('GET', '/employee?from=0&count=100&fields=id,firstName,lastName,email,department'); _employees = (r.ok && r.data && r.data.values) ? r.data.values : []; } return _employees; }\nasync function getDefaultDeptId() { const d = await getDepartments(); return d.length > 0 ? d[0].id : null; }\nasync function getFirstEmployeeId() { const e = await getEmployees(); return e.length > 0 ? e[0].id : null; }\nasync function findEmployee(firstName, lastName) { const emps = await getEmployees(); return emps.find(e => (!firstName || (e.firstName||'').toLowerCase() === firstName.toLowerCase()) && (!lastName || (e.lastName||'').toLowerCase() === lastName.toLowerCase())) || null; }\nasync function findDeptByName(name) { if (!name) return null; const depts = await getDepartments(); return depts.find(d => d.name && d.name.toLowerCase().includes(name.toLowerCase())) || null; }\n\nlet _bankSetupDone = false;\nasync function ensureBankAccount() {\n  if (_bankSetupDone) return; _bankSetupDone = true;\n  try { const ba = await tx('GET', '/ledger/account?number=1920&from=0&count=1&fields=id,bankAccountNumber'); if (ba.ok && ba.data && ba.data.values && ba.data.values.length > 0) { const a = ba.data.values[0]; if (!a.bankAccountNumber) { const f = await tx('GET', '/ledger/account/' + a.id); if (f.ok) { f.data.value.bankAccountNumber = '86010517941'; await tx('PUT', '/ledger/account/' + a.id, f.data.value); } } } } catch(e) {}\n}\n\nfunction getOutgoingVatId(pct) { const t = pct != null ? Number(pct) : 25; return { 25: 3, 15: 31, 12: 32, 0: 6 }[t] || 3; }\n\nlet results = [], success = false;\n// === END SHARED UTILITIES ===\n\n\n// === FALLBACK HANDLER ===\nfor (const p of paramsList) {\ntry {\n  const _did = await getDefaultDeptId() || 0;\n  const _eid = await getFirstEmployeeId() || 0;\n  await ensureBankAccount();\n  const fp = await callGemini('You are a Tripletex v2 REST API expert. Plan the exact API calls.\\nEndpoints: GET/POST/PUT/DELETE on /employee, /customer, /supplier, /product, /order, /invoice, /travelExpense, /project, /department, /ledger/voucher, /ledger/account\\nRules:\\n- /employee POST: userType=STANDARD(email)/NO_ACCESS, department:{id:' + _did + '}\\n- /project POST: projectManager:{id:' + _eid + '}, startDate required\\n- /order POST orderLines: use unitPriceExcludingVatCurrency\\nTask: ' + task + fileContext + '\\nReturn: [{\"method\":\"POST\",\"endpoint\":\"/...\",\"body\":{...}}]', pdfFiles);\n  const calls = Array.isArray(fp) ? fp : (fp.api_calls || fp.calls || [fp]);\n  for (const c of calls) {\n    const r = await tx(c.method || 'POST', c.endpoint, c.body || null);\n    results.push(r); if (r.ok) success = true;\n  }\n} catch(e) { results.push({ error: e.message }); }\n}\n\nreturn [{ json: { status: 'completed', _debug: { task_type, success, results, group: 'T7_Fallback' } } }];\n",
        "mode": "runOnceForAllItems"
      }
    },
    {
      "id": "r7",
      "name": "Respond T7_Fallback",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2220,
        1300
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Receive Task": {
      "main": [
        [
          {
            "node": "Parse Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Input": {
      "main": [
        [
          {
            "node": "Has PDF?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has PDF?": {
      "main": [
        [
          {
            "node": "Extract PDF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Paths",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Extract PDF": {
      "main": [
        [
          {
            "node": "Merge Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Text": {
      "main": [
        [
          {
            "node": "Merge Paths",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Paths": {
      "main": [
        [
          {
            "node": "Classify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify": {
      "main": [
        [
          {
            "node": "Route",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route": {
      "main": [
        [
          {
            "node": "T1_Simple Handler",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "T2_Employee Handler",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "T3_Invoice Handler",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "T4_Project Handler",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "T5_Expense Handler",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "T6_Accounting Handler",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "T7_Fallback Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "T1_Simple Handler": {
      "main": [
        [
          {
            "node": "Respond T1_Simple",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "T2_Employee Handler": {
      "main": [
        [
          {
            "node": "Respond T2_Employee",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "T3_Invoice Handler": {
      "main": [
        [
          {
            "node": "Respond T3_Invoice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "T4_Project Handler": {
      "main": [
        [
          {
            "node": "Respond T4_Project",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "T5_Expense Handler": {
      "main": [
        [
          {
            "node": "Respond T5_Expense",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "T6_Accounting Handler": {
      "main": [
        [
          {
            "node": "Respond T6_Accounting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "T7_Fallback Handler": {
      "main": [
        [
          {
            "node": "Respond T7_Fallback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}